
$white: #ffffff;
$black: #000000;
$gray: #afafaf;
$dark-gray: #282a2f;
$light-gray: #F3F2F4;
$dark-blue: #053a89;
$dark-blue-2: #005399;
$blue: #1363c0;
$light-blue: #0081d8;
$purple: #6246d5;
$grad-purlple-blue: linear-gradient(90deg, #6246d5 0%, #0081d8 100%);