include ./utils/_mixin.pug
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")

    block page-title
      title #{title}

    include ./base/head
      block headScripts

      block style
        include base/style

  body(class=bodyClass)
    include ./layout/header
    block content
    include ./layout/footer
    
    //- block scripts
    script(src='js/vendor.min.js' defer)
    script(src='js/common.js' defer)
    
