.section-main__buy {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-main__buy-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 98px 103px;
}

.section-main__buy-title {
    margin: 60px 0 65px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__buy-content {
    display: flex;
    width: 100%;
}

.section-main__buy-form, .section-main__buy-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}

.section-main__buy-fish {
    display: flex;
    width: 100%;
    max-width: 470px;
    height: 755px;
    background-image: url('/images/buy-fish.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.section-main__buy-comment {
    padding: 0 15px;
}

.section-main__buy-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 470px;
    padding: 40px 40px 7px;
    margin: 0 0 41px;
}

.section-main__buy-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.section-main__buy-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-main__buy-background::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: $grad-purlple-blue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    opacity: 0.9;
}

.section-main__buy-list {
    margin: 0;
    padding: 0 0 0 33px;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.section-main__buy-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 30px;
}

.section-main__buy-item b {
    position: relative;
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $white;
}

.section-main__buy-item b::before {
    position: absolute;
    top: 7px;
    left: -33px;
    display: block;
    width: 22px;
    height: 16px;
    background-image: url('/images/icon/buy-check.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.section-main__buy-item p {
    margin: 4px 0 6px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $white;
}



.section-main__buy-question {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 39px 40px 40px 40px;
    background: $light-gray;
    box-shadow: 0px 0px 20px rgba(175, 175, 175, 0.15);
    border-radius: 2px;
    width: 100%;
    max-width: 470px;
}

.section-main__buy-question b {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__buy-question a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 361px;
    min-height: 54px;
    margin: 30px 0 0;
    padding: 15px 30px;
    background: $purple;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    transition: background-color 0.3s ease;
}

.section-main__buy-question a:hover {
    background-color: $gray;
}









