.cabinet .section-footer__button {
    background-color: $gray;
    pointer-events: none;
}

.section-main__cabinet {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-main__cabinet-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1366px;
    padding: 20px 98px 103px;
}

.section-main__cabinet-title {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0 35px;
}

.section-main__cabinet-title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-title a {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 20px 3px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.section-main__cabinet-title a p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    border-bottom: 1px solid transparent;
}

.section-main__cabinet-title a:hover {
    border-bottom: 1px solid $blue;
}

.section-main__cabinet-title a:hover p {
    border-bottom: 1px solid transparent;
}

.section-main__cabinet-title a svg {
    margin: 0 5px 0 0;
    fill: $blue;
}



.section-main__cabinet-content,
.section-main__cabinet-texts {
    overflow: hidden;
}

.section-main__cabinet-content {
    margin: 0 0 10px;
}

.section-main__cabinet-list,
.section-main__cabinet-texts-list {
    display: flex;
    width: calc(100% + 80px);
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-main__cabinet-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 370px;
    margin: 0 80px 0 0;
}

.section-main__cabinet-item--mini {
    max-width: 270px;
}

.section-main__cabinet-name,
.section-main__cabinet-tarif,
.section-main__cabinet-title-name {
    margin: 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-tarif {
    margin: 0 0 11px;
}

.section-main__cabinet-time {
    margin: 0 0 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-time span {
    font-weight: 500;
    margin: 0 0 0 14px;
}

.section-main__cabinet-info {
    margin: 0 0 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-gray;
}

.section-main__cabinet-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 54px;
    margin: 0 0 20px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $white;
    background-color: $purple;
    transition: background-color 0.3s ease;
}

.section-main__cabinet-payment--no-pointer {
    background-color: $gray;
    pointer-events: none;
}

.section-main__cabinet-payment:hover {
    background-color: $gray;
}


.section-main__cabinet-title-name {
    margin: 0 0 25px;
}

.section-main__cabinet-item-content {
    display: flex;
    flex-direction: column;
    padding: 33px 30px 14px;
    background: $light-gray;
    box-shadow: 0px 2px 10px rgba(175, 175, 175, 0.3);
}

.section-main__cabinet-item-content b {
    margin: 0 0 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__cabinet-item-content b span {
    font-weight: normal;
    margin: 0 0 0 10px;
}

.section-main__cabinet-email,
.section-main__cabinet-password {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-gray;
}



.section-main__cabinet-texts {
    margin: 11px 0 0;
}

.section-main__cabinet-texts-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 80px 0 0;
}

.section-main__cabinet-texts-item--big {
    max-width: 620px;
}

.section-main__cabinet-texts-item--big p {
    text-align: justify;
}

.section-main__cabinet-texts-item--middle {
    max-width: 260px;
}

.section-main__cabinet-texts-item--small {
    max-width: 130px;
}

.section-main__cabinet-texts-item b {
    margin: 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-texts-item p {
    margin: 0 0 11px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-texts-item--middle.section-main__cabinet-texts-item p {
    margin: 0 0 1px;
}

p.section-main__cabinet-texts-item-title {
    margin: 2px 0 20px !important;
}

.section-main__cabinet-texts-item a {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease;
}

.section-main__cabinet-texts-item a:hover {
    border-bottom: 1px solid $blue;
}







/* Страница изменений профиля */

.section-main__cabinet-wrap--edit {
    padding-bottom: 94px;
}

.section-main__cabinet-item label {
    margin: 0 0 11px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__cabinet-item input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 29px;
    padding: 12px 20px;
    border: 1px solid $gray;
    border-radius: 2px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__cabinet-item--mini label {
    margin: 0 0 5px;
}

.section-main__cabinet-item--mini input {
    font-size: 16px;
    margin: 0 0 24px;
    padding: 15px 20px;
}


.section-login-menu__login-checkbox-wrap--cabinet {
    flex-direction: row-reverse;
}

.section-login-menu__login-checkbox-wrap--cabinet .section-login-menu__login-fake-checkbox {
    margin: 1px 0 0 10px;
}

.section-login-menu__login-checkbox-wrap--cabinet span {
    font-size: 18px;
}


.section-main__cabinet-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.section-main__cabinet-submit button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 54px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid $purple;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $purple;
    transition: border 0.3s ease, color 0.3s ease;
}

.section-main__cabinet-submit button:hover {
    border: 1px solid $blue;
    color: $blue;
}

.section-main__cabinet-submit a {
    margin: 20px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: color 0.3s ease;
}

.section-main__cabinet-submit a:hover {
    color: $purple;
}


.section-main__cabinet-item-content--edit {
    padding-top: 37px;
}

.section-main__cabinet-item-content--edit label {
    
}













