@import "../abstract/variables";

.section-main__header {
    display: flex;
    justify-content: center;
    margin: -134px 0 0;
    padding: 134px 0 0;
}

.section-main__header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section-main__header-item {
    display: flex;
    width: 100%;
}

.section-main__header-item--text {
    flex-direction: column;
    max-width: 670px;
    margin: 0 0 0 auto;
    padding: 83px 25px 0 97px;
    z-index: 2;
}

.section-main__header-title {
    margin: 0;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 46px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__header-text {
    margin: 33px 0 44px;
    max-width: 400px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}


.section-main__header-search-form {
    position: relative;
    width: 100%;
    max-width: 500px;
    animation: search-animation 1s infinite linear;
}

@keyframes search-animation {
    0% { 
        box-shadow: 0 0 0 0 rgba($blue, 0.6);
    }
    33% { 
        box-shadow: 0 0 5px 0 rgba($blue, 0.6);
    }
    66% { 
        box-shadow: 0 0 10px 0 rgba($blue, 0.6);
    }
    100% { 
        box-shadow: 0 0 0 0 rgba($blue, 0.6);
    }
}

.section-main__header-search-form input {
    display: flex;
    width: 100%;
    height: 54px;
    align-items: center;
    padding: 13px 65px 13px 20px;
    background: $white;
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__header-search-form input::placeholder {
    opacity: 1;
}


.section-main__header-search-form button,
.section-main__header-search-form a {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 54px;
    padding: 0;
    transform: translate(0, -50%);
    border: none;
    background: transparent;
}

.section-main__header-search-form button svg,
.section-main__header-search-form a svg {
    fill: $dark-gray;
    transition: fill 0.3s ease;
}

.section-main__header-search-form button:hover svg,
.section-main__header-search-form a:hover svg {
    fill: $purple;
}



.section-main__header-item--background {
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 51%;
    height: 100%;
    min-height: calc(100vh - 134px);
}

.section-main__header-item--background::before {
    position: absolute;
    top: -134px;
    right: 0;
    display: block;
    width: 100%;
    max-width: 92.6%;
    height: calc(100% + 134px);
    background-color: $blue;
    content: '';
    z-index: -1;
}

.section-main__header-background-image {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



.section-main__header-pseudo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.section-main__header-pseudo--mobile {
    display: none;
}

.section-main__header-pseudo-center {
    position: absolute;
    top: 35%;
    right: 68.3%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 54px rgba(243, 242, 244, 0.2);
    transform: translate(50%, -50%);
    animation: pseudo-center-animation 5s infinite ease-in-out;
}

@keyframes pseudo-center-animation {
    35% { 
        box-shadow: 0 0 0 54px rgba(243, 242, 244, 0.2);
    }
    50% { 
        box-shadow: 0 0 0 143px rgba(243, 242, 244, 0.2);
    }
    65% { 
        box-shadow: 0 0 0 54px rgba(243, 242, 244, 0.2);
    }
}

.section-main__header-pseudo-one-circle {
    position: absolute;
    top: 35%;
    right: 68.3%;
    width: 305px;
    height: 305px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(243, 242, 244, 0.7);
    transform: translate(50%, -50%);
}

.section-main__header-pseudo-one-circle::before,
.section-main__header-pseudo-one-circle::after {
    position: absolute;
    top: 50%;
    left: 70.3%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    content: '';
}

.section-main__header-pseudo-one-circle::before {
    width: 880px;
    height: 880px;
    border: 1px solid rgba(175, 175, 175, 0.4);
    animation: circle-before-animation 5s infinite ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

@keyframes circle-before-animation {
    35% { 
        transform: translate(-50%,-50%) scale(1);
    }
    50% { 
        transform: translate(-56.6%,-50.4%) scale(.523);
    }
    65% { 
        transform: translate(-50%,-50%) scale(1);
    }
}

.section-main__header-pseudo-one-circle::after {
    width: 1450px;
    height: 1450px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    animation: circle-after-animation 5s infinite ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}

@keyframes circle-after-animation {
    35% { 
        transform: translate(-50%,-50%) scale(1);
    }
    50% { 
        transform: translate(-53.9%,-50.3%) scale(.319);
    }
    65% { 
        transform: translate(-50%,-50%) scale(1);
    }
}


.section-main__header-pseudo-one-line,
.section-main__header-pseudo-two-line {
    position: absolute;
    top: -95px;
    right: 39px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-sizing: border-box;
    background: rgba(243, 242, 244, 0.7);
    transform: translate(50%, -50%);
}

.section-main__header-pseudo-two-line {
    top: 92px;
    right: 58px;
}

.section-main__header-pseudo-one-line::before {
    position: absolute;
    top: 3px;
    right: 0;
    width: 1500px;
    height: 1px;
    background:rgba(175, 175, 175, 0.3);
    transform: rotate(28deg) translate(-5.8%,-352px);
    content: '';
}

.section-main__header-pseudo-two-line::after {
    position: absolute;
    top: 3px;
    right: 0;
    width: 2000px;
    height: 1px;
    background: rgba(175,175,175,.3);
    transform: rotate(-49deg) translate(-17.2%,752px);
    content: '';
}

.section-main__header-pseudo-one-figure {
    position: absolute;
    top: 35%;
    right: 68.3%;
    display: flex;
    width: 462px;
    height: 462px;
    background-image: url("/images/main-ellipse-2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(53%, -50%);
    animation: one-figure-animation 5s infinite ease-in-out;
}

@keyframes one-figure-animation {
    35% { 
        transform: translate(53%, -50%) rotate(0);
    }
    50% { 
        transform: translate(50.6%,-48%) rotate(96.2deg);
    }
    65% { 
        transform: translate(53%, -50%) rotate(0);
    }
}

.section-main__header-pseudo-two-figure {
    position: absolute;
    top: 35%;
    right: 68.3%;
    display: flex;
    width: 464px;
    height: 464px;
    transform: translate(89.5%,-52.5%);
    background-image: url("/images/main-ellipse-1.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: two-figure-animation 5s infinite ease-in-out;
}

@keyframes two-figure-animation {
    35% { 
        transform: translate(89.5%,-52.5%) scale(1);
    }
    50% { 
        transform: translate(97.5%,-52.5%) scale(1.2);
    }
    65% { 
        transform: translate(89.5%,-52.5%) scale(1);
    }
}
    

.section-main__header-pseudo-three-figure {
    position: absolute;
    top: -592px;
    right: -449px;
    display: flex;
    width: 255px;
    height: 600px;
    transform: translate(4.5%,0.1%) skewX(-35.6deg);
    border-bottom: 1px solid rgba(243, 242, 244, 0.7);
    border-right: 1px solid rgba(243, 242, 244, 0.7);
}



/* block about */

.section-main__about {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.section-main__about-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    padding: 77px 99px 5px;
}

.section-main__about-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}

.section-main__about-info-title {
    margin: 7px 0 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__about-info-text {
    max-width: 470px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}



.section-main__about-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    padding: 7px 0 7px 18px;
}

.section-main__about-links-title {
    margin: 15px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__about-links-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-main__about-links-item {
    position: relative;
    display: flex;
    width: 100%;
    margin: 10px 0 11px;
}

.section-main__about-links-item p {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 15px 30px;
    background: $white;
    box-shadow: 0px 0px 15px rgba(175, 175, 175, 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.4;
    color: $dark-gray;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.section-main__about-links-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(90deg, #6246D5 -4.1%, #0081D8 104.01%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.section-main__about-links-item:hover p {
    color: $white;
    background-color: transparent;
}

.section-main__about-links-item:hover::before {
    opacity: 1;
}



.section-main__specification {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    padding: 0;
}

.section-main__specification-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    padding: 0px 99px 0 0;
}

.section-main__specification-pros,
.section-main__specification-why {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(50vw + 13px);
    min-height: 492px;
}

.section-main__specification-pros {
    height: 100%;
    padding: 0;
}

.section-main__specification-why {
    flex-direction: column;
    align-items: flex-start;
    max-width: calc(46% - 13px);
    padding: 110px 0 0 101px;
}

.section-main__specification-pros-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section-main__specification-pros-background::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 416px;
    background-image: linear-gradient(49.89deg, #6246D5 28.65%, #0081D8 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    z-index: -1;
}

.section-main__specification-pros-background img {
    max-width: 386px;
    max-height: 488px;
    object-fit: contain;
}

.section-main__specification-pros-text {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 400px;
    z-index: 2;
}

.section-main__specification-pros-text {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 220px;
    z-index: 2;
    margin: 0 79px 6px auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: $white;
}



.section-main__specification-why-title {
    width: 100%;
    max-width: 388px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__specification-why-text {
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
    margin: 25px 0 33px;
}


.section-main__specification-why-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 216px;
    min-height: 53px;
    background-color: $purple;
    transition: background-color 0.3s ease;
}

.section-main__specification-why-link:hover {
    background-color: $gray;
}

.section-main__specification-why-link p {
    margin: 0 12px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    border: none;
}

.section-main__specification-why-link:hover p {
    color: $white;
    border: none;
}

.section-main__specification-why-link svg {
    stroke: $white;
}







.section-main__statistics {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    padding: 100px 0 0;
}

.section-main__statistics-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    padding: 0px;
}

.section-main__statistics-data,
.section-main__statistics-industries {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 50%;
    min-height: 436px;
    background-color: $light-blue;
}

.section-main__statistics-data {
    padding: 45px 85px 41px 97px;
    background-color: $blue;
}

.section-main__statistics-industries {
    padding: 45px 100px 45px 64px;
}


.section-main__statistics-data-text,
.section-main__statistics-industries-text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: $white;
}

.section-main__statistics-data-text span,
.section-main__statistics-industries-text span {
    margin-right: 6px;
    font-size: 30px;
}


.section-main__statistics-data-infographics {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0 19px;
}

.section-main__statistics-data-graphics {
    position: relative;
    display: flex;
    width: 100%;
    width: 208px;
    height: auto;
}

.section-main__scale {
    display: flex;
    width: 100%;
    max-width: 150px;
    margin: 0 37px 0 0;
    padding: 0;
    list-style: none;
}

.section-main__scale-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25px;
    margin: 0 17px 0 0;
}

.section-main__scale-content {
    position: relative;
    display: flex;
    width: 18px;
}


.section-main__scale-content-background {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 18px;
    height: 100%;
    max-height: 118px;
    background-color: $dark-blue-2;
    z-index: 1;
}

.section-main__scale-content-background--active {
    background-color: $white;
    z-index: 2;
}

.section-main__scale-content-background--fish {
    background-color: $white;
    z-index: 1;
    animation: scale-animation 10s infinite linear;
}

@keyframes scale-animation {
    0% { 
        height: 0;
    }
    35% { 
        height: 100%;
    }
    70% { 
        height: 0;
    }
    100% { 
        height: 0;
    }
}

.section-main__scale-content-image {
    position: relative;
    display: flex;
    width: 18px;
    height: 100%;
    z-index: 3;
}

.section-main__scale-percent {
    margin: 11px 0 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    color: $white;
}



.section-main__graphics img {
    object-fit: contain;
}

.section-main__graphics-dot-one,
.section-main__graphics-dot-two {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $white;
}

.section-main__graphics-dot-one {
    top: 38px;
    left: 13px;
    animation: dot-one-animation 10s infinite ease-in-out;
}

.section-main__graphics-dot-two {
    top: 110px;
    left: 13px;
    animation: dot-two-animation 10s infinite ease-in-out;
}

@keyframes dot-one-animation {
    0% { 
        top: 38px;
        left: 13px;
        opacity: 1;
    }
    10% { 
        top: 53px;
        left: 40px;
        opacity: 1;
    }
    20% { 
        top: 44px;
        left: 66px;
        opacity: 1;
    }
    30% { 
        top: 92px;
        left: 93px;
        opacity: 1;
    }
    40% { 
        top: 69px;
        left: 119px;
        opacity: 1;
    }
    50% { 
        top: 91px;
        left: 146px;
        opacity: 1;
    }
    60% { 
        top: 75px;
        left: 172px;
        opacity: 1;
    }
    70% { 
        top: 90px;
        left: 199px;
        opacity: 1;
    }
    71% { 
        top: 90px;
        left: 199px;
        opacity: 1;
    }
    72% { 
        top: 90px;
        left: 199px;
        opacity: 0;
    }
    100% { 
        opacity: 0;
    }
}

@keyframes dot-two-animation {
    0% { 
        top: 110px;
        left: 13px;
        opacity: 1;
    }
    10% { 
        top: 75px;
        left: 40px;
        opacity: 1;
    }
    20% { 
        top: 85px;
        left: 66px;
        opacity: 1;
    }
    30% { 
        top: 59px;
        left: 93px;
        opacity: 1;
    }
    40% { 
        top: 61px;
        left: 119px;
        opacity: 1;
    }
    50% { 
        top: 77px;
        left: 146px;
        opacity: 1;
    }
    60% { 
        top: 65px;
        left: 172px;
        opacity: 1;
    }
    70% { 
        top: 104px;
        left: 199px;
        opacity: 1;
    }
    71% { 
        top: 104px;
        left: 199px;
        opacity: 1;
    }
    72% { 
        top: 104px;
        left: 199px;
        opacity: 0;
    }
    100% { 
        opacity: 0;
    }
}

.section-main__statistics-data-info {
    width: 100%;
    margin: 5px 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
}




.section-main__statistics-industries-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 31px);
    margin: 32px 0 15px;
    padding: 0;
    list-style: none;
}

.section-main__statistics-industries-item {
    display: flex;
    width: 100%;
    max-width: calc(50% - 30px);
    margin: 0 30px 20px 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 10px rgba(5, 58, 137, 0.25);
}

.section-main__statistics-industries-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 82px;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-gray;
    transition: background-color 0.3s ease;
}

.section-main__statistics-industries-item a:hover {
    background-color:rgba(255, 255, 255, 1);
}


.section-main__statistics-industries-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    border-bottom: 1px solid $white;
    transition: color 0.3s ease, border 0.3s ease;
}

.section-main__statistics-industries-link:hover {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}



/* section advantages */

.section-main__advantages {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-main__advantages-container {
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 100px 0 87px;
}

.section-main__advantages-access,
.section-main__advantages-result {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}

.section-main__advantages-access {
    padding: 1px 60px 0 97px;
}

.section-main__advantages-result {
    padding: 0 54px;
}

.section-main__advantages-access-text {
    max-width: 570px;
    margin: 53px 0 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__advantages-access-info,
.section-main__advantages-result-item p {
    max-width: 470px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}


.section-main__advantages-result-text {
    margin: 0 31px 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__advantages-result-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-main__advantages-result-item {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0 0 23px;
}

.section-main__advantages-result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 20px;
    margin: 5px 9px 0 0;
}

.section-main__advantages-result-icon svg {
    max-width: 20px;
    max-height: 20px;
}

.section-main__advantages-result-item p {
    max-width: 440px;
    margin: 0;
}



/* section utility */

.section-main__utility {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section-main__utility-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1366px;
    padding: 75px 0 62px;
}

.section-main__utility-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("/images/main-building-three.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.section-main__utility-background::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #6246D5 -4.1%, #0081D8 104.01%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    z-index: 0;
    opacity: 0.9;
}


.section-main__utility-title {
    position: relative;
    margin: 0 0 49px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: $white;
    z-index: 2;
}

.section-main__utility-list-wrap {
    position: relative;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.section-main__utility-list {
    display: flex;
    width: 100%;
    min-width: calc(100% + 130px);
    flex-wrap: wrap;
    margin: 0;
    padding: 0 99px;
    list-style: none;
}

.section-main__utility-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(33.33% - 130px);
    margin: 0 130px 65px 0;
}


.section-main__utility-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-main__utility-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 51px;
    height: 53px;
}

.section-main__utility-header-text {
    margin: 0 0 0 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: $white;
}

.section-main__utility-text {
    margin: 9px 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
}



/* block who-we */

.section-main__who-we {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.section-main__who-we-container {
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 0 97px 5px;
}

.section-main__who-we-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 100px 0 0;
}

.section-main__who-we-title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__who-we-text {
    margin: 20px 0 35px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__who-we-button-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 31px;
    background: $light-gray;
    box-shadow: 0px 2px 10px rgba(175, 175, 175, 0.3);
    border-radius: 2px;
}

.section-main__who-we-button-text {
    margin: 0 0 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__who-we-button-wrap a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding: 15px 44px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    background: $purple;
    transition: background-color 0.3s ease;
}

.section-main__who-we-button-wrap a:hover {
    background-color: $gray;
}


.section-main__who-we-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 400px);
    margin: 100px 0 100px 100px;
}

.section-main__who-we-images img {
    width: 100%;
    max-width: 100%;
    max-height: 397px;
    object-fit: contain;
}



