.section-main__search-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1366px;
    padding: 20px 98px 103px;
}

.section-main__search-title {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin: 60px 0 65px;
}

.section-main__search-title h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: $dark-gray;
}



.section-main__search-input-wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 970px;
    margin: 61px auto 0;
}

.section-main__search-input-wrap input {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 54px;
    background: $white;
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 13px 20px;
    font-weight: normal;
    line-height: 1.2;
    color: $dark-gray;
}

.section-main__search-input-wrap button {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 54px;
    height: 100%;
    transform: translate(0, -50%);
    background: none;
    border: none;
}

.section-main__search-input-wrap svg {
    max-width: 100%;
    object-fit: contain;
    fill: $dark-gray;
    transition: fill 0.3s ease;
}

.section-main__search-input-wrap button:hover svg {
    fill: $blue;
}


.section-main__search-result-wrap {
    overflow: hidden;
}

.section-main__search-result {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin: 0;
    padding: 0;
}

.section-main__search-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(50% - 20px);
    margin: 0 20px 32px 0;
    padding: 0 0 0 70px;
}

.section-main__search-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 55px;
    height: 60px;
    background-image: url('/images/icon/search-icon-pdf.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

.section-main__search-item-title {
    margin: 0 0 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: $blue;
}

.section-main__search-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    color: $dark-gray;
}

.section-main__search-link {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
}

.section-main__search-link p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: color 0.3s ease, border 0.3s ease;
}

.section-main__search-link svg {
    margin: 0 0 0 5px;
    stroke: $blue;
    transition: stroke 0.3s ease;
}

.section-main__search-link:hover p {
    color: $purple;
    border-bottom: 1px solid $purple;
}

.section-main__search-link:hover svg {
    stroke: $purple;
}




.section-main__search-page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-main__search-page-number a,
.section-main__search-page-number p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 22px;
    min-height: 24px;
    margin: 0 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: color 0.3s ease;
}

.section-main__search-page-number a:hover {
    color: $purple;
}

a.search-link-active {
    background: $blue;
    border-radius: 1px;
    color: $white;
    pointer-events: none;
}

a.search-link-active {
    color: $white;
}























