@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Thin.woff2') format('woff2'),
      url('/fonts/Commissioner-Thin.woff') format('woff'),
      url('/fonts/Commissioner-Thin.eot') format('eot'),
      url('/fonts/Commissioner-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-ExtraLight.woff2') format('woff2'),
      url('/fonts/Commissioner-ExtraLight.woff') format('woff'),
      url('/fonts/Commissioner-ExtraLight.eot') format('eot'),
      url('/fonts/Commissioner-ExtraLight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Light.woff2') format('woff2'),
      url('/fonts/Commissioner-Light.woff') format('woff'),
      url('/fonts/Commissioner-Light.eot') format('eot'),
      url('/fonts/Commissioner-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Regular.woff2') format('woff2'),
      url('/fonts/Commissioner-Regular.woff') format('woff'),
      url('/fonts/Commissioner-Regular.eot') format('eot'),
      url('/fonts/Commissioner-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Medium.woff2') format('woff2'),
      url('/fonts/Commissioner-Medium.woff') format('woff'),
      url('/fonts/Commissioner-Medium.eot') format('eot'),
      url('/fonts/Commissioner-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-SemiBold.woff2') format('woff2'),
      url('/fonts/Commissioner-SemiBold.woff') format('woff'),
      url('/fonts/Commissioner-SemiBold.eot') format('eot'),
      url('/fonts/Commissioner-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Bold.woff2') format('woff2'),
      url('/fonts/Commissioner-Bold.woff') format('woff'),
      url('/fonts/Commissioner-Bold.eot') format('eot'),
      url('/fonts/Commissioner-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-ExtraBold.woff2') format('woff2'),
      url('/fonts/Commissioner-ExtraBold.woff') format('woff'),
      url('/fonts/Commissioner-ExtraBold.eot') format('eot'),
      url('/fonts/Commissioner-ExtraBold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Commissioner";
  src: url('/fonts/Commissioner-Black.woff2') format('woff2'),
      url('/fonts/Commissioner-Black.woff') format('woff'),
      url('/fonts/Commissioner-Black.eot') format('eot'),
      url('/fonts/Commissioner-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}




@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/fonts/Roboto-Thin.woff') format('woff'),
      url('/fonts/Roboto-Thin.eot') format('eot'),
      url('/fonts/Roboto-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff'),
      url('/fonts/Roboto-Light.eot') format('eot'),
      url('/fonts/Roboto-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff'),
      url('/fonts/Roboto-Regular.eot') format('eot'),
      url('/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff'),
      url('/fonts/Roboto-Medium.eot') format('eot'),
      url('/fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff'),
      url('/fonts/Roboto-Bold.eot') format('eot'),
      url('/fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto-Black.woff2') format('woff2'),
      url('/fonts/Roboto-Black.woff') format('woff'),
      url('/fonts/Roboto-Black.eot') format('eot'),
      url('/fonts/Roboto-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}