@import "abstract/variables";

// @mixin media-tablet {

//     @media (min-width: $mediaWidthTablet) {
//         @content;
//     }
// }

// @mixin media-tablet-horizontal {

//     @media (min-width: $mediaWidthTabletHorizontal) {
//         @content;
//     }
// }

// @mixin media-laptop {

//     @media (min-width: $mediaWidthLaptop) {
//         @content;
//     }
// }

// @mixin media-custom($width) {

//     @media (min-width: $width) {
//         @content;
//     }
// }

// @media only screen and (max-width: 1360px){
//     .section-main__utility-list {
//         padding: 0 99px;
//     }
// }

@media only screen and (max-width: 1300px){
    .section-main__header-title {
        padding-right: 0;
    }

    .section-main__cabinet-list, .section-main__cabinet-texts-list {
        max-width: calc(100% + 40px);
    }

    .section-main__cabinet-item,
    .section-main__cabinet-texts-item {
        margin: 0 40px 0 0;
    }

    .section-main__cabinet-item-content {
        padding: 25px 15px 14px;
    }

    .section-main__cabinet-item-content b {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1270px) {
    .section-header__wrap,
    .section-main__buy-wrap,
    .section-header__crumbs,
    .section-main__about-container,
    .section-main__advantages-access,
    .section-main__advantages-result,
    .section-main__utility-list,
    .section-main__statistics-data,
    .section-main__who-we-container,
    .section-main__cabinet-wrap,
    .section-main__search-wrap,
    .section-footer {
        padding-right: 45px;
        padding-left: 43px;
    }

    .section-main__header-item--text {
        padding-left: 43px;
    }

    .section-main__specification-container,
    .section-main__statistics-industries {
        padding-right: 45px;
    }

    .section-main__specification-pros-text {
        margin-right: 30px;
    }

    .section-main__specification-why {
        padding: 110px 0 0 45px;
    }

    .section-big-menu__close {
        top: 80px;
    }

    .section-big-menu__list {
        padding: 168px 50px 34px 50px;
    }

    .section-big-menu__submenu-wrap {
        padding: 168px 50px 34px calc(10% + 50px);
    }

    .section-main__cabinet-item {
        max-width: 300px;
    }
}

@media only screen and (max-width: 1150px) {
    .section-main__buy-comment {
        align-items: flex-end;
        padding: 0 0 0 30px;
    }

    .section-main__buy-info {
        padding: 30px 20px 7px;
    }

    .section-main__buy-question {
        padding: 29px 20px 30px;
    }

    .section-main__buy-question b {
        font-size: 25px;
    }

    .section-main__header-title {
        font-size: 36px;
    }

    .section-main__specification-pros-background img {
        max-width: 300px;
    }

    .section-main__about-info {
        padding-right: 20px;
    }

    .section-main__who-we-button-wrap {
        margin-bottom: 40px;
    }

    .section-main__utility-container {
        padding: 45px 0 0px;
    }
    
    .section-main__statistics-data {
        padding-bottom: 10px;
    }

    .section-main__who-we-images {
        margin: 100px 0 100px 50px;
    }


    .section-main__cabinet-item--mini {
        max-width: 240px;
    }

    .section-main__cabinet-name, .section-main__cabinet-tarif, .section-main__cabinet-title-name {
        font-size: 18px;
    }

    .section-main__cabinet-time,
    .section-main__cabinet-item-content b,
    .section-main__cabinet-email, .section-main__cabinet-password,
    .section-main__cabinet-texts-item p {
        font-size: 15px;
    }

    .section-main__cabinet-wrap,
    .section-main__search-wrap {
        padding-bottom: 50px;
    }

    .section-main__cabinet-list, .section-main__cabinet-texts-list {
        flex-wrap: wrap;
    }

    .section-main__cabinet-item--mini {
        max-width: 270px;
    }

    .section-main__cabinet-item, .section-main__cabinet-texts-item {
        margin: 0 40px 20px 0;
    }

    .section-main__cabinet-title {
        margin: 30px 0 25px;
    }
}

@media only screen and (max-width: 1050px) {
    .section-main__header-pseudo {
        top: -100px;
        transform: scale(0.5);
    }

    .section-main__specification-why {
        padding-top: 80px;
    }

    .section-main__advantages-container {
        padding: 50px 0 43px;
    }

    .section-main__specification-pros-background img {
        max-width: 280px;
    }

    .section-main__utility-list {
        min-width: calc(100% + 70px);
    }

    .section-main__utility-item {
        max-width: calc(33.33% - 70px);
        margin: 0 70px 65px 0;
    }

    .section-main__who-we-content {
        padding: 50px 0 0;
    }

    .section-main__who-we-images {
        margin: 50px 0 50px 50px;
    }

    .section-main__header-background-image img {
        max-width: 92.5%;
    }

    .section-main__header-item--text {
        padding-right: 0;
    }

    .section-header__logo {
        margin: 3px 50px 0 0;
    }

    .section-header__menu,
    .section-header__tariff {
        margin: 0 45px 0 0;
    }


    .section-big-menu__item > a,
    .section-big-menu__submenu-overflow > b {
        font-size: 18px;
    }

    .section-big-menu__submenu-column a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 950px) {
    .section-main__header-title {
        font-size: 30px;
    }

    .section-main__header-text,
    .section-main__header-search-form input,
    .section-main__specification-pros-text,
    .section-main__specification-why-text,
    .section-main__advantages-access-info,
    .section-main__advantages-result-item p,
    .section-main__utility-header-text,
    .section-main__who-we-text,
    .section-main__about-info-text {
        font-size: 17px;
    }

    .section-main__utility-header-text {
        font-weight: 600;
    }

    .section-main__specification-pros-background img {
        max-width: 220px;
    }

    .section-main__specification-why {
        padding-top: 70px;
    }

    .section-main__specification-why-title,
    .section-main__advantages-access-text {
        font-size: 27px;
    }

    .section-main__utility-text {
        font-size: 15px;
    }

    .section-main__specification-pros-background img {
        max-width: 200px;
    }

    .section-big-menu__submenu-wrap {
        padding: 168px 25px 34px calc(10% + 25px);
    }

    header.menu-active,
    .section-big-menu {
        background-image: linear-gradient(90deg, $white  0%, $white  50%, $blue 50%, $blue 100%);
    }

    .section-main__cabinet-wrap,
    .section-main__search-wrap {
        padding-bottom: 30px;
    }

    .section-main__search-item {
        padding: 0 0 0 40px;
    }

    .section-main__search-item::before {
        max-width: 27px;
        height: 32px;
    }


    .section-main__search-title h2 {
        font-size: 25px;
    }

    .section-main__search-input-wrap {
        margin: 31px auto 0;
    }

    .section-main__search-title {
        margin: 40px 0 45px;
    }

    .section-main__search-item-title {
        font-size: 17px;
    }

    .section-main__search-text {
        font-size: 16px;
    }

    .section-main__search-item {
        padding: 0 20px 0 40px;
    }

    .section-login-menu__wrap, .section-login-menu__registration {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .section-header__content {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .section-header__menu-opener p, .section-header__tariff-link p {
        color: $white;
    }

    .section-header__menu-opener-icon svg {
        stroke: $white;
    }

    .section-header__menu-opener:hover p, .section-header__tariff-link:hover p {
        color: rgba(255, 255, 255, 0.6);
    }


    .section-header__menu-opener:hover .section-header__menu-opener-icon svg {
        stroke: rgba(255, 255, 255, 0.6);
    }

    .section-header__menu, .section-header__tariff {
        margin: 0 0 0 45px;
    }

    .first-content__switch {
        margin: 5px 5px 5px 0;
    }

    .section-header__menu, .section-header__tariff {
        margin: 0 0 10px 45px;
    }

    .section-main__about-container {
        flex-direction: column;
    }

    .section-main__about-links-list {
        align-items: center;
    }

    .section-main__about-info-title,
    .section-main__about-info-text,
    .section-main__about-links-title,
    .section-main__specification-why-text,
    .section-main__specification-why-title {
        text-align: center;
    }

    .section-main__about-links-item {
        width: fit-content;
    }

    .section-main__about-info {
        max-width: 100%;
        padding: 0 0 20px;
    }

    .section-main__about-info-text {
        max-width: 100%;
    }

    .section-main__about-links {
        padding-left: 0;
    }

    .section-main__statistics-container {
        flex-direction: column;
        overflow: hidden;
    }

    .section-main__statistics-data, .section-main__statistics-industries {
        max-width: 100%;
    }

    .section-main__statistics-data,
    .section-main__statistics-industries {
        align-items: center;
    }

    .section-main__statistics-data-infographics {
        justify-content: center;
    }

    .section-main__statistics-data-info {
        text-align: center;
    }

    .section-footer__links-item a {
        margin: 0 0 0 30px;
    }

    .section-main__specification-pros-text {
        max-width: 330px;
    }
    
    .section-main__specification-container {
        flex-direction: column;
        padding-top: 40px;
        padding-right: 0;
    }

    .section-main__specification-pros, .section-main__specification-why {
        max-width: 100%;
        padding-right: 45px;
        min-height: auto;
    }

    .section-main__specification-pros {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-main__specification-why {
        align-items: center;
        padding-bottom: 50px;
    }

    .section-main__statistics {
        padding: 0;
    }

    .section-main__utility-item {
        max-width: calc(50% - 70px);
        margin: 0 70px 40px 0;
    }

    .section-main__specification-pros-text {
        text-align: center;
    }

    .section-big-menu__close {
        top: 115px;
    }
}

@media only screen and (max-width: 850px) {
    header:not(.menu-active) .section-header__login-text,
    header:not(.menu-active) .first-content__switch > a,
    header:not(.menu-active) .section-header__menu-opener p,
    header:not(.menu-active) .section-header__tariff-link p {
        color: $dark-gray;
    }

    header:not(.menu-active) .section-header__login-icon svg,
    header:not(.menu-active) .section-header__menu-opener-icon svg {
        stroke: $dark-gray;
    }

    header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
    header:not(.menu-active) .first-content__switch > a:hover,
    header:not(.menu-active) .first-content__switch-content:hover,
    header:not(.menu-active) .section-header__menu-opener p:hover,
    header:not(.menu-active) .section-header__tariff-link p:hover  {
        color: rgba(40, 42, 47, 0.6);
    }

    header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
    header:not(.menu-active) .section-header__menu-opener p:hover,
    header:not(.menu-active) .section-header__tariff-link p:hover {
        border-bottom: 1px solid rgba(40, 42, 47, 0.6);
    }

    header:not(.menu-active) .first-content__switch-content {
        border: 1px solid rgba(40, 42, 47, 0.6);
    }


    header:not(.menu-active) .section-header__login-link:hover .section-header__login-icon svg,
    header:not(.menu-active) .section-header__menu-opener:hover .section-header__menu-opener-icon svg {
        stroke: rgba(40, 42, 47, 0.6);
    }

    .section-main__header-title,
    .section-main__header-text,
    .section-main__about-links-item a,
    .section-main__utility-title {
        text-align: center;
    }

    header:not(.menu-active) .first-content__switch-content span {
        background-color: $dark-gray;
    }

    header:not(.menu-active) .first-content__switch-content:hover span {
        background-color: rgba(40, 42, 47, 0.6);
    }

    header:not(.menu-active) .first-content__switch > a:hover {
        color: rgba(40, 42, 47, 0.6);
    }

    .section-main__header-item--text {
        align-items: center;
        max-width: 100%;
        padding-left: 0;
    }

    .section-main__header-item--background {
        display: none;
    }

    // .section-main__header {
    //     background-color: $blue;
    //     padding-bottom: 55px;
    // }

    // .section-main__about-container {
    //     padding-top: 32px;
    // }

    .section-main__buy-content {
        flex-direction: column;
        align-items: center;
    }

    .section-main__buy-wrap {
        padding-bottom: 50px;
    }

    .section-main__buy-title {
        margin: 30px 0 40px;
        text-align: center;
    }

    .section-main__buy-form, .section-main__buy-comment {
        max-width: 470px;
    }

    .section-main__buy-comment {
        margin: 40px 0 0 0;
        padding: 0;
    }

    .home {
        overflow-x: hidden;
    }

    .page-home {
        overflow-x: hidden;
        margin: -134px 0 0;
        padding: 134px 0 0;
    }

    .section-main__header {
        margin: 0;
        padding: 0;
    }

    .section-main__header {
        position: relative;
    }

    .section-main__header-pseudo--mobile {
        top: 60px;
        display: flex;
    }

    .section-main__header-pseudo-one-circle::after {
        border: 2px solid rgba(175, 175, 175, 0.3);
    }

    .section-main__header-pseudo-one-circle::before {
        border: 2px solid rgba(175, 175, 175, 0.4);
    }

    .section-main__header-pseudo-three-figure {
        border-bottom: 4px solid rgba(243, 242, 244, 1);
        border-right: 4px solid rgba(243, 242, 244, 1);
    }

    .section-main__header-pseudo-one-line::before,
    .section-main__header-pseudo-two-line::after {
        height: 2px;
    }

    .section-main__advantages-container {
        flex-direction: column;
        padding-top: 0;
    }

    .section-main__advantages-access, .section-main__advantages-result {
        max-width: 100%;
    }

    .section-main__advantages-result {
        padding-top: 50px;
    }

    .section-main__advantages-result-item {
        justify-content: center;
    }

    .section-main__advantages-access {
        align-items: center;
    }

    .section-main__advantages-result-text,
    .section-main__advantages-access-info,
    .section-main__advantages-result-item p,
    .section-main__advantages-access-text {
        text-align: center;
    }



    .section-main__who-we-title,
    .section-main__who-we-text {
        text-align: center;
    }

    .section-main__who-we-images {
        display: none;
    }

    .section-main__who-we-content {
        align-items: center;
        max-width: 100%;
    }

    .section-main__who-we-button-wrap {
        align-items: center;
        max-width: 270px;
    }

    .section-main__cabinet-item {
        max-width: 270px;
    }

    .section-main__cabinet-item--mini {
        max-width: 250px;
    }

    .section-main__cabinet-item, .section-main__cabinet-texts-item {
        margin: 0 40px 30px 0;
    }
}

@media only screen and (max-width: 750px) {
    .section-menu__list {
        flex-direction: column;
    }

    .section-menu__item {
        margin: 5px 0;
    }

    .section-footer__links-wrap {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .section-footer__links-policy {
        margin: 0 auto 10px 0;
    }

    .section-main__search-title h2 {
        font-size: 22px;
    }

    .section-main__search-item {
        max-width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 650px) {
    .section-big-menu {
        background: $white;
    }

    header.menu-active {
        background-image: linear-gradient(90deg, $white 0%, $white 35%, $blue 35%, $blue 100%);
        padding-bottom: 35px;
    }

    .section-big-menu__list {
        padding: 190px 50px 34px 50px;
    }

    .section-big-menu__list {
        max-width: 100%;
    }

    .section-big-menu__item {
        flex-direction: column;
    }

    .section-big-menu__submenu-wrap {
        position: relative;
        padding: 0;
        top: initial;
        right: initial;
        height: 0;
    }

    .section-big-menu__item:hover .section-big-menu__submenu-wrap {
        position: relative;
        height: auto;
        padding: 15px 0 0 30px;
    }

    .section-big-menu__submenu-content {
        margin: 15px 0 20px;
    }

    .section-big-menu__submenu-overflow > b,
    .section-big-menu__submenu-column a {
        color: $dark-gray;
    }

    .section-big-menu__submenu-overflow {
        min-height: auto;
    }

    .section-main__specification-pros-text {
        max-width: 270px;
    }

    .section-main__header-item--text,
    .section-main__utility-title {
        padding-left: 45px;
        padding-right: 45px;
    }

    .section-main__utility-item {
        max-width: calc(100% - 70px);
        margin: 0 70px 40px 0;
    }

    .section-main__header-title,
    .section-main__about-info-title,
    .section-main__about-links-title,
    .section-main__specification-why-title,
    .section-main__utility-title,
    .section-main__advantages-access-text,
    .section-main__who-we-title {
        font-size: 24px;
    }

    .section-main__header-text,
    .section-main__header-search-form input,
    .section-main__specification-pros-text,
    .section-main__specification-why-text,
    .section-main__advantages-access-info,
    .section-main__advantages-result-item p,
    .section-main__utility-header-text,
    .section-main__who-we-text,
    .section-main__about-info-text,
    .section-main__about-links-item a,
    .section-main__statistics-data-info,
    .section-main__statistics-industries-item a {
        font-size: 15px;
    }


    .section-login-menu__toggle-wrap {
        display: flex;
    }

    .section-login-menu__wrap {
        max-width: 100%;
    }

    .section-login-menu__wrap, .section-login-menu__registration {
        padding-top: 100px;
    }

    .section-login-menu__registration {
        max-width: 100%;
        flex-direction: column;
    }

    .log-reg--no-active {
        display: none;
    }

    .section-footer__content-inner {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
    }

    .section-menu__list {
        flex-direction: row;
        justify-content: flex-end;
    }

    .section-menu__item {
        margin: 5px 0 5px 50px;
    }

    .section-main__search-title h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .section-question-pop-up {
        max-width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .section-main__specification-pros-background img {
        max-width: 140px;
    }

    .section-header__wrap,
    .section-main__buy-wrap,
    .section-header__crumbs,
    .section-main__about-container,
    .section-main__advantages-access,
    .section-main__advantages-result,
    .section-main__utility-list,
    .section-main__statistics-data,
    .section-main__who-we-container,
    .section-footer,
    .section-main__specification-pros,
    .section-main__specification-why,
    .section-main__statistics-industries,
    .section-main__header-item--text,
    .section-main__utility-title,
    .section-main__cabinet-wrap,
    .section-main__search-wrap {
        padding-right: 20px;
        padding-left: 20px;
    }

    .section-main__buy-fish {
        background-size: 100% 100%;
    }

    .section-main__utility-container {
        align-items: center;
    }

    .section-main__utility-title {
        max-width: 340px;
    }

    .section-main__cabinet-wrap {
        padding-bottom: 10px;
    }

    .section-main__search-title h2 {
        font-size: 17px;
    }

    .section-main__search-input-wrap input {
        padding: 10px 10px;
        font-size: 14px;
        min-height: 44px;
    }
}

@media only screen and (max-width: 500px) {
    .section-header__buy-text {
        font-size: 14px;
    }

    .section-header__menu-opener, .section-header__tariff-link,
    .section-header__login-text, .first-content__switch > a {
        font-size: 14px;
    }

    .section-header__tariff {
        min-width: auto;
    }

    .section-header__menu, .section-header__tariff {
        margin: 0 0 10px 25px;
    }

    .section-header__login {
        margin: 1px 25px 0 25px;
    }

    .section-header__logo {
        max-width: 80px;
        margin: 3px 25px 0 0;
    }

    .section-menu__list {
        justify-content: space-evenly;
    }

    .section-menu__item {
        margin: 5px 0;
    }

    .section-question-pop-up {
        padding: 30px 25px;
    }

    .section-question-pop-up__form-input {
        font-size: 16px;
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 450px) {
    .section-big-menu__close {
        top: 100px;
    }
    
    .section-main__statistics-data-infographics {
        flex-direction: column;
    }

    .section-main__scale {
        margin: 0 0 37px;
    }

    .section-header__wrap {
        padding: 20px;
    }

    .section-main__statistics-industries-item {
        max-width: calc(100% - 30px);
    }

    .section-main__statistics-industries-item a {
        height: 52px;
    }

    .section-main__statistics-data-text, .section-main__statistics-industries-text {
        font-size: 16px;
    }

    .section-footer__links-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-footer__links-policy {
        margin: 0 auto 15px;
    }

    .section-footer__links-item a {
        margin: 0 10px 10px;
    }
}

@media only screen and (max-width: 400px) {
    .section-header__buy {
        max-width: 185px;
    }

    .section-header__buy-text {
        font-size: 11px;
    }

    .section-main__buy-title {
        margin: 10px 0 30px;
        font-size: 25px;
    }

    .section-main__buy-list {
        margin: 0;
        padding: 0 0 0 15px;
    }

    .section-main__buy-item b {
        font-size: 16px;
    }

    .section-main__buy-item b::before {
        left: -26px;
        width: 18px;
        height: 12px;
    }

    .section-main__buy-item p {
        font-size: 14px;
    }

    .section-main__buy-question b {
        font-size: 21px;
    }

    .section-big-menu__list {
        padding: 170px 25px 34px 25px;
    }

    .section-header__menu-opener, .section-header__tariff-link,
    .section-header__login-text, .first-content__switch > a {
        font-size: 13px;
    }

    .first-content__switch {
        max-width: 80px;
    }

    .first-content__switch-content {
        width: 30px;
    }

    .first-content__switch-content span {
        transform: translateX(10px);
    }

    .section-header__logo {
        max-width: 60px;
        margin: 3px 0px 0 0;
    }

    .section-header__menu, .section-header__tariff {
        margin: 0 0 10px 17px;
    }

    .section-header__login {
        margin: 1px 15px 0 15px;
    }

    .section-main__specification-pros-background img {
        display: none;
    }

    .section-main__specification-pros-text {
        max-width: 100%;
        margin: 0;
    }

    .section-footer__content {
        flex-direction: column;
    }

    .section-footer__content-inner {
        align-items: center;
    }

    .section-menu__list {
        margin: 35px 0 15px;
    }

    .section-footer__links-wrap {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 370px) {
    .section-login-menu__wrap,
    .section-login-menu__registration {
        padding: 0 15px;
    }

    .section-login-menu__toggle-link {
        padding: 15px 27px;
    }
}


/* Style for IE 10/11 */
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
        display: flex;
        flex-direction: column;
    }

    .section-question-pop-up__close {
        position: relative;
        top: -15px;
        right: -15px;
        justify-content: flex-end;
        max-width: 100%;
        height: 0;
    }

    .section-main__header-background-image img {
        width: 100%;
    }

    .section-main__header-background-image {
        align-items: flex-end;
        height: calc(100vh - 134px);
        // min-height: 100vh;
        // margin: auto 0 0;
        // background-color: lawngreen;
    }

    .section-main__header-item {
        min-height: calc(100vh - 134px);
        // background-color: lightgreen;
    }

    .section-main__specification-why-link p,
    .section-main__cabinet-submit button {
        line-height: 53px;
    }
    
    .section-footer__button {
        padding: 10px;
    }

    .section-footer__button p {
        line-height: 33px;
    }

    .section-footer__content-logo img {
        width: 100px;
        height: 100px;
    }

    .section-menu__item {
        margin: 0 auto;
    }

    .section-footer__links-policy {
        max-width: 282px;
    }



    .section-main__statistics-data-graphics {
        width: 100%;
        max-width: 208px;
    }

    .section-main__graphics img {
        width: 100%;
        max-width: 208px;
        height: auto;
        // max-height: 100px;
    }

    .section-main__statistics-data-infographics {
        flex-wrap: wrap;
    }

    .section-main__scale,
    .section-main__statistics-data-graphics {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .section-main__statistics-container {
        background-color: $light-blue;
    }

    .section-main__statistics-industries {
        background-color: transparent;
    }

    .section-header__fish {
        max-width: calc(100% - 650px);
    }

    .section-login-menu__center {
        height: 355px;
    }

    .section-main__cabinet-texts-item--small {
        max-width: 140px;
    }

    .section-main__specification-pros-text {
        display: flex;
        min-height: 200px;
        padding-top: 80px;
    }


    .section-main__header-pseudo-one-circle::before,
    .section-main__header-pseudo-one-circle::after,
    .section-main__header-pseudo-center {
        animation: none;
    }

    .section-main__header-pseudo-one-figure {
        display: none;
    }

    .section-main__header-item--text {
        max-width: 49%;
    }

    .section-main__header-pseudo-two-figure {
        display: none;
        top: 0;
        left: 0;
        animation: none;
    }
}