section.section-question-pop-up.js-section-question-pop-up
    .section-question-pop-up__wrap
        .section-question-pop-up__close.js-section-question-pop-up__close
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M10.6967 10.6967L21.3033 21.3033M10.6967 21.3033L21.3033 10.6967M26.6066 26.6066C25.2137 27.9995 23.5601 29.1044 21.7403 29.8582C19.9204 30.612 17.9698 31 16 31C14.0302 31 12.0796 30.612 10.2597 29.8582C8.43987 29.1044 6.78628 27.9995 5.3934 26.6066C4.00052 25.2137 2.89563 23.5601 2.14181 21.7403C1.38799 19.9204 1 17.9698 1 16C1 14.0302 1.38799 12.0796 2.14181 10.2597C2.89563 8.43986 4.00052 6.78628 5.3934 5.3934C8.20644 2.58035 12.0218 1 16 1C19.9782 1 23.7936 2.58035 26.6066 5.3934C29.4196 8.20644 31 12.0218 31 16C31 19.9782 29.4196 23.7936 26.6066 26.6066Z"/>
            </svg>

        b.section-question-pop-up__title Остались вопросы?

        form(action="1", name="question").section-question-pop-up__form
            input(type="text", name="question-name", placeholder="Имя", required).section-question-pop-up__form-input
            input(type="tel", name="question-phone", placeholder="Телефон", required).section-question-pop-up__form-input
            textarea(name="question-text", cols="30", rows="3", placeholder="Задать вопрос").section-question-pop-up__form-input
            
            .section-login-menu__login-links
                label.section-login-menu__login-checkbox-wrap.section-login-menu__login-checkbox-wrap--question
                    input(type="checkbox", name="question-agree", value="agree").visually-hidden.section-login-menu__login-checkbox
                    span.section-login-menu__login-fake-checkbox
                    span Я согласен на обработку персональных данных

            button(type="submit").section-login-menu__login-submit Получить ответ




