@import "../abstract/variables";

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
}

body.menu-active,
body.login-active {
    overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none;
}

a p {
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border 0.3s ease;
}

a:hover p {
  color: $blue;
  border-bottom: 1px solid $blue;
}

a, input, textarea {
  outline: 0;
}

textarea{
  resize: vertical;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper{
  position: relative;
  display: block;
}

a, input, textarea, button {
  outline: none;
  cursor: pointer;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}


p,h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

.is-visible {
  display: block;
  animation: open-pup-up 0.3s ease-in-out 0.5s forwards;
}

.pop-up {
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 105;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.qustion-active  {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

@keyframes open-pup-up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.overflow {
  overflow: hidden;
}

.section-container {
    max-width: 1200px;
    padding: 0 15px;
}

.section-header__login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 18px;
    height: 18px;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.section-header__login-icon svg {
    stroke: $white;
    transition: stroke 0.3s ease;
}

.section-header__login-link:hover .section-header__login-icon svg {
    stroke: $blue;
}



// html, body {
//   scrollbar-color: rgb(19, 178, 34) rgb(0, 0, 0);    /* «цвет ползунка» «цвет полосы скроллбара» */
//   scrollbar-width: thin;  /* толщина */
// }


// /* полоса прокрутки (скроллбар) */
// ::-webkit-scrollbar {
//   width: 24px; /* ширина для вертикального скролла */
//   height: 8px; /* высота для горизонтального скролла */
//   background-color: #143861;
// }

// /* ползунок скроллбара */
// ::-webkit-scrollbar-thumb {
//   background-color: #843465;
//   border-radius: 9em;
//   box-shadow: inset 1px 1px 10px #f3faf7;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background-color: #253861;
// }

// /* Стрелки */

// ::-webkit-scrollbar-button:vertical:start:decrement {
//   background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//   linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//   linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
// }

// ::-webkit-scrollbar-button:vertical:end:increment {
//   background:
//       linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
// }

// ::-webkit-scrollbar-button:horizontal:start:decrement {
//   background:
//       linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
// }

// ::-webkit-scrollbar-button:horizontal:end:increment {
//   background:
//       linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
//       linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
//   background-color: #f6f8f4;
// }



// ::-webkit-scrollbar { width: 3px; height: 3px;}
// ::-webkit-scrollbar-button {  background-color: #666; }
// ::-webkit-scrollbar-track {  background-color: #999;}
// ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
// ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
// ::-webkit-scrollbar-corner { background-color: #999;}
// ::-webkit-resizer { background-color: #666;}


