footer
    section.section-footer
        .section-footer__content
            a(href="/").section-footer__content-logo
                img(src="/images/icon/logo.svg", alt="BiConsulting")
            
            .section-footer__content-inner
                .section-footer__content-menu.section-menu
                    ul.section-menu__list
                        li.section-menu__item
                            a(href="/industries.html").section-menu__item Отрасли
                        li.section-menu__item
                            a(href="/buy.html").section-menu__line Купить тариф

                a(href="/buy.html").section-footer__button
                    p Подписаться
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <circle cx="9" cy="9" r="8.5"/>
                        <circle cx="9.00005" cy="6.3001" r="2.2"/>
                        <path d="M14.4 15.3V15.3C14.4 12.8148 12.3853 10.8 9.89997 10.8H8.09998C5.61469 10.8 3.59998 12.8148 3.59998 15.3V15.3"/>
                    </svg>

        .section-footer__links-wrap
            a(href="#").section-footer__links-policy Политика конфиденциальности
            ul.section-footer__links-list
                li.section-footer__links-item
                    a(href="#") Реквизиты
                li.section-footer__links-item
                    a(href="#") Правила возврата
                li.section-footer__links-item
                    a(href="#") Договор оферты

    include ./menu
    include ./login
    include ../components/question-pop-up

    .overlay.js-overlay

