header
  section.section-header__wrap
    a(href="/").section-header__logo
      img(src="/images/icon/logo.svg", alt="BiConsulting")
    .section-header__content
      .section-header__menu
        a(href="#").section-header__menu-opener.js-section-header__menu-opener
          p.section-header__menu-opener-text Отрасли
          .section-header__menu-opener-icon
            <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L9 9L17 1"/>
            </svg>
      .section-header__tariff
        a(href="/buy.html").section-header__tariff-link 
          p Купить тариф
      .section-header__fish
      .section-header__login
        a(href="").section-header__login-link.js-section-header__login-link
          .section-header__login-icon
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="9" cy="9" r="8.5"/>
              <circle cx="9.00005" cy="6.29998" r="2.2"/>
              <path d="M14.4 15.3V15.3C14.4 12.8147 12.3853 10.8 9.89997 10.8H8.09998C5.61469 10.8 3.59998 12.8147 3.59998 15.3V15.3"/>
            </svg>
          p.section-header__login-text Войти

      .section-header__language.first-content__switch
        a(href="").active RU
        .first-content__switch-content.active
          span
        a(href="") EN
    .section-header__buy
      p.section-header__buy-text Используя сервис от Bi-consulting вы сохраняете свое время.

    .section-big-menu__close.js-section-big-menu__close.js-section-login-menu__close
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M10.6967 10.6967L21.3033 21.3033M10.6967 21.3033L21.3033 10.6967M26.6066 26.6066C25.2137 27.9995 23.5601 29.1044 21.7403 29.8582C19.9204 30.612 17.9698 31 16 31C14.0302 31 12.0796 30.612 10.2597 29.8582C8.43987 29.1044 6.78628 27.9995 5.3934 26.6066C4.00052 25.2137 2.89563 23.5601 2.14181 21.7403C1.38799 19.9204 1 17.9698 1 16C1 14.0302 1.38799 12.0796 2.14181 10.2597C2.89563 8.43986 4.00052 6.78628 5.3934 5.3934C8.20644 2.58035 12.0218 1 16 1C19.9782 1 23.7936 2.58035 26.6066 5.3934C29.4196 8.20644 31 12.0218 31 16C31 19.9782 29.4196 23.7936 26.6066 26.6066Z"/>
        </svg>
  section.section-header__crumbs
    a(href="/").section-header__crumbs-link Главная
    p.section-header__crumbs-text Отрасли

    a(href="").section-header__crumbs-out-link
      p Выход
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
      <path d="M1 0H0V12H1V0Z"/>
      <path d="M8.293 8.293L10.086 6.5H3V5.5H10.086L8.293 3.707L9 3L12 6L9 9L8.293 8.293Z"/>
      </svg>

