section.section-login-menu.js-section-login-menu
    .section-login-menu__wrap.js-section-login-menu__wrap
        .section-login-menu__center
            .section-login-menu__toggle-wrap
                a(href="#").section-login-menu__toggle-link.section-login-menu__toggle-link--active.js-section-login-menu__toggle-link Вход
                a(href="#").section-login-menu__toggle-link.js-section-login-menu__toggle-link Регистрация

            .section-login-menu__login.section-login-menu__login--in.js-section-login-menu__login--in
                b.section-login-menu__title Вход
                form(action="1", name="login").section-login-menu__login-form
                    input(type="email", name="login-email", placeholder="E-mail", required).section-login-menu__login-input
                    input(type="password", name="login-password", placeholder="Пароль", required).section-login-menu__login-input
                    .section-login-menu__login-links
                        a(href="#").section-login-menu__login-link.js-section-login-menu__login-link Забыли пароль?
                        label.section-login-menu__login-checkbox-wrap
                            input(type="checkbox", name="remember").visually-hidden.section-login-menu__login-checkbox
                            span.section-login-menu__login-fake-checkbox
                            span Запомнить

                    //button(type="submit").section-login-menu__login-submit Войти
                    a(href="/cabinet.html").section-login-menu__login-submit Войти

            .section-login-menu__login.section-login-menu__login--recovery.js-section-login-menu__login--recovery
                b.section-login-menu__title Сброс пароля
                p.section-login-menu__text Инструкции по восстановлению пароля отправлены на электронный адрес, указанный 
                    |при регистрации.
                form(action="1", name="recovery-password").section-login-menu__login-form
                    input(type="email", name="recovery-email", placeholder="E-mail", required).section-login-menu__login-input
                    button(type="submit").section-login-menu__login-submit Отправить

            .section-login-menu__login.section-login-menu__login--new.js-section-login-menu__login--new
                b.section-login-menu__title Восстановление пароля
                p.section-login-menu__text Введите новый пароль
                form(action="1", name="new-password").section-login-menu__login-form
                    input(type="email", name="login-email", placeholder="E-mail", required).section-login-menu__login-input
                    input(type="password", name="new-password-one", placeholder="Новый пароль", required).section-login-menu__login-input
                    input(type="password", name="new-password-two", placeholder="Повторите пароль", required).section-login-menu__login-input
                    button(type="submit").section-login-menu__login-submit Сменить пароль 

    .section-login-menu__registration.js-section-login-menu__registration.log-reg--no-active
        .section-login-menu__toggle-wrap
            a(href="#").section-login-menu__toggle-link.section-login-menu__toggle-link--active.js-section-login-menu__toggle-link Вход
            a(href="#").section-login-menu__toggle-link.js-section-login-menu__toggle-link Регистрация

        .section-login-menu__registration-background
            img(src="/images/registration-background.png", alt="Фон")
        .section-login-menu__registration-wrap
            .section-login-menu__registration-title Получи нужный аналитический отчет, оплатив выбранный тариф!
            ul.section-login-menu__registration-list 
                li.section-login-menu__registration-item
                    p 1000+ отраслей, охваченных в исследованиях
                li.section-login-menu__registration-item
                    p 3+ миллиона доступных для поиска отчетов, таблиц и схем
            p.section-login-menu__registration-text Мы будем информировать о новых отчетах в выбранной вами отрасли и 
                |о значимых мировых тенденциях.
            a(href="/buy.html").section-login-menu__registration-link Купить тариф





