section.section-big-menu.js-section-big-menu
    .section-big-menu__wrap
        ul.section-big-menu__list.js-section-big-menu__list
            li.section-big-menu__item.js-section-big-menu__item--active
                p.section-big-menu__item-sub-open Сфера услуг
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                            
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Потребительские товары
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра
                                a(href="/industries.html") Музыкальные инструменты

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Оптовая торговля
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open ИТ и СМИ
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Игрушка и игра

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Оптовая торговля
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Фармацевтика и медицина
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Сельское хозяйство
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Спортивные товары
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Игрушка и игра

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Еда и напитки
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра
                                a(href="/industries.html") Одежда
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Тяжелая промышленность
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Товары для дома
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра

                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                                
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Маркетинг и менеджмент
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Товары для дома
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра
                            
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Естественные науки 
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Обувь
                                a(href="/industries.html") Одежда
                                a(href="/industries.html") Личная гигиена
                                a(href="/industries.html") Спортивные товары
                                a(href="/industries.html") Бытовая электроника
                                a(href="/industries.html") Товары для дома
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Музыкальные инструменты
                                a(href="/industries.html") Канцелярские
                                a(href="/industries.html") Игрушка и игра
                                a(href="/industries.html") Текстиль для дома
                                a(href="/industries.html") Товары класса люкс
                            
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Химия и современные материалы
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Розничная торговля вне магазина
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                            
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Строительство и производство
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине
                                a(href="/industries.html") Специализированный магазин
                                a(href="/industries.html") Оптовая торговля
                                a(href="/industries.html") Розничная торговля вне магазина
                            
                            
            li.section-big-menu__item
                p.section-big-menu__item-sub-open Биотехнологии
                .section-big-menu__submenu-wrap
                    .section-big-menu__submenu-overflow
                        b Подотрасль
                        .section-big-menu__submenu-content
                            .section-big-menu__submenu-column
                                a(href="/industries.html") Генеральный дилер
                                a(href="/industries.html") Розничная торговля в магазине