@import "../abstract/variables";

footer {
    display: flex;
    justify-content: center;
    background-color: $light-gray;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: $light-gray;
}

.section-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1366px;
    padding: 36px 97px;
}

.section-footer__content {
    display: flex;
    width: 100%;
    align-items: center;
}

.section-footer__content-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}

.section-footer__content-inner {
    display: flex;
    align-items: center;
    width: 100%;
}



.section-footer__content-logo img {
    max-width: 100%;
    object-fit: contain;
}

.section-menu {
    display: flex;
    width: 100%;
}

.section-menu__list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section-menu__item {
    display: flex;
    list-style: none;
}


.section-menu__item a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $dark-gray;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border 0.3s ease;
}

.section-menu__item a:hover {
    color: $blue;
    border-bottom: 1px solid $blue;
}
.section-footer__links-policy:hover,
.section-footer__links-item a:hover {
    color: $dark-gray;
    border-bottom: 1px solid $dark-gray;
}

.section-footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 215px;
    height: auto;
    min-height: 55px;
    padding: 10px 44px;
    background: $purple;
    border: none;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.section-footer__button:hover {
    background-color: $gray;
}

.section-footer__button:hover p {
    color: $white;
    border: none;
}

.section-footer__button:hover svg {
    stroke: $white;
}

.section-footer__button p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    border: none;
}

.section-footer__button svg {
    stroke: $white;
    margin: 0 0 0 10px;
}

.section-footer__links-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0 0;
}

.section-footer__links-policy {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 212px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;
}

.section-footer__links-list {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-footer__links-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 60px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: color 0.3s ease, border 0.3s ease;
    border-bottom: 1px solid transparent;
}





















