@import "../abstract/variables";

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    z-index: 100;
}

header.menu-active {
    background-image: linear-gradient(90deg, $white  0%, $white  52.8%, $blue 52.8%, $blue 100%);
}

header.login-active .section-header__content,
header.login-active .section-header__crumbs {
    opacity: 0;
    pointer-events: none;
}

.section-header__wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1366px;
    padding: 32px 99px 15px 97px;
}



.section-header__logo {
    display: flex;
    width: 100%;
    max-width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 3px 90px 0 0;
}

.section-header__content {
    display: flex;
    width: 100%;
}



.section-header__menu,
.section-header__tariff,
.section-header__login {
    display: flex;
}

.section-header__menu {
    margin: 0 84px 0 0;
}

.section-header__tariff {
    min-width: 120px;
    margin: 0 90px 0 0;
}

.section-header__menu-opener,
.section-header__tariff-link {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-header__tariff-link {
    color: $blue;
}

.section-header__tariff-link:hover p {
    color: $purple;
}

.industries .section-header__menu-opener {
    pointer-events: none;
}

.section-header__menu-opener p,
.section-header__tariff-link p {
    padding: 0 0 2px;
    transition: color 1s ease, border 0.3s ease;
}
.section-header__tariff-link p {
    border-bottom: 1px solid $blue;
}

.section-header__tariff-link:hover p {
    color: $purple;
    border-bottom: 1px solid $purple;
}

.section-header__menu-opener-icon svg {
    margin: 0 5px;
    stroke: $dark-gray;
    transition: stroke 0.3s ease;
}

.section-header__menu-opener:hover .section-header__menu-opener-icon svg {
    stroke: $blue;
}


.section-header__fish {
    display: flex;
    width: 100%;
}


.section-header__login {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 80px;
    height: auto;
    margin: 1px 48px 0 25px;
}

.section-header__login svg {
    stroke: $white;
}

.section-header__login-link {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 25px;
    transition: color 0.3s ease;
}

.section-header__login-link:hover .section-header__login-text  {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid transparent;
}

.section-header__login-link:hover .section-header__login-icon svg {
    stroke: rgba(255, 255, 255, 0.6);
}

.section-header__login-text {
    margin: 0 5px 0 0;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    text-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.15);
}







.first-content__switch {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 102px;
    margin: 5px 0;
    z-index: 2;
}

.first-content__switch  > a {
    margin: 0;
    font-size: 18px;
    line-height: 1.1px;
    text-transform: uppercase;
    color: $white;
    transition: color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0%, 0%, 0%, 0.15);
}

.first-content__switch-content {
    display: flex;
    align-items: center;
    width: 40px;
    height: 18px;
    margin: 0 5px;
    border: 1px solid $white;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0 rgba(0%, 0%, 0%, 0.15);
}

.first-content__switch-content span {
    display: flex;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    border-radius: 50%;
    background-color: $white;
    box-sizing: border-box;
    transform: translateX(20px);
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 1px 1px 2px 0 rgba(0%, 0%, 0%, 0.15);
}

.first-content__switch-content.active span {
    transform: translateX(-2px);
}

.first-content__switch  > a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.first-content__switch-content:hover span {
    background-color: rgba(255, 255, 255, 0.6);
}

.first-content__switch  > a input {
    width: 0;
    height: 0;
}



.section-header__crumbs {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    padding: 0px 99px 5px 97px;
}

.home .section-header__crumbs {
    display: none;
}

.section-header__crumbs-link,
.section-header__crumbs-text {
    position: relative;
    display: flex;
    padding: 2px;
    margin: 0 26px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease, opacity 0.3s ease;
}

.section-header__crumbs-link::before {
    position: absolute;
    top: 50%;
    right: -16px;
    display: block;
    width: 6px;
    height: 22px;
    background-image: url('/images/icon/crumbs-arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(0, -50%);
    content: '';
}

.section-header__crumbs-link:hover {
    opacity: 0.7;
    color: $blue;
    border-bottom: 1px solid $blue;
}


.section-header__crumbs-out-link {
    display: none;
    align-items: center;
    margin: 0 0 0 auto;
    transition: opacity 0.3s ease;

}

.cabinet .section-header__crumbs-out-link {
    display: flex;
}

.section-header__crumbs-out-link:hover {
    opacity: 0.7;
}

.section-header__crumbs-out-link:hover p {
    color: $dark-gray;
    border-bottom: 1px solid transparent;
}

.section-header__crumbs-out-link p {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-gray;
    border-bottom: 1px solid transparent;
}

.section-header__crumbs-out-link svg {
    margin: 0 0 0 5px;
    fill: $dark-gray;
}



.buy .section-header__content {
    display: none;
}

.buy .section-header__buy {
    display: flex;
}

.section-header__buy {
    display: none;
    justify-content: flex-end;
    width: 100%;
    max-width: 299px;
    margin: auto 0 0 auto;
}

.section-header__buy-text {
    margin: 5px;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: right;
    color: $dark-gray;
}




.cabinet header:not(.menu-active) .section-header__login-text,
.cabinet header:not(.menu-active) .first-content__switch > a,
.cabinet header:not(.menu-active) .section-header__menu-opener p,
.cabinet header:not(.menu-active) .section-header__tariff-link p,
.search-page header:not(.menu-active) .section-header__login-text,
.search-page header:not(.menu-active) .first-content__switch > a,
.search-page header:not(.menu-active) .section-header__menu-opener p,
.search-page header:not(.menu-active) .section-header__tariff-link p {
    color: $dark-gray;
}

.cabinet header:not(.menu-active) .section-header__login-icon svg,
.cabinet header:not(.menu-active) .section-header__menu-opener-icon svg,
.search-page header:not(.menu-active) .section-header__login-icon svg,
.search-page header:not(.menu-active) .section-header__menu-opener-icon svg {
    stroke: $dark-gray;
}

.cabinet header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
.cabinet header:not(.menu-active) .first-content__switch > a:hover,
.cabinet header:not(.menu-active) .first-content__switch-content:hover,
.cabinet header:not(.menu-active) .section-header__menu-opener p:hover,
.cabinet header:not(.menu-active) .section-header__tariff-link p:hover,
.search-page header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
.search-page header:not(.menu-active) .first-content__switch > a:hover,
.search-page header:not(.menu-active) .first-content__switch-content:hover,
.search-page header:not(.menu-active) .section-header__menu-opener p:hover,
.search-page header:not(.menu-active) .section-header__tariff-link p:hover  {
    color: rgba(40, 42, 47, 0.6);
}

.cabinet header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
.cabinet header:not(.menu-active) .section-header__menu-opener p:hover,
.cabinet header:not(.menu-active) .section-header__tariff-link p:hover,
.search-page header:not(.menu-active) .section-header__login-link:hover .section-header__login-text,
.search-page header:not(.menu-active) .section-header__menu-opener p:hover,
.search-page header:not(.menu-active) .section-header__tariff-link p:hover {
    border-bottom: 1px solid rgba(40, 42, 47, 0.6);
}

.cabinet header:not(.menu-active) .first-content__switch-content,
.search-page header:not(.menu-active) .first-content__switch-content {
    border: 1px solid rgba(40, 42, 47, 0.6);
}


.cabinet header:not(.menu-active) .section-header__login-link:hover .section-header__login-icon svg,
.cabinet header:not(.menu-active) .section-header__menu-opener:hover .section-header__menu-opener-icon svg,
.search-page header:not(.menu-active) .section-header__login-link:hover .section-header__login-icon svg,
.search-page header:not(.menu-active) .section-header__menu-opener:hover .section-header__menu-opener-icon svg {
    stroke: rgba(40, 42, 47, 0.6);
}



.cabinet header:not(.menu-active) .first-content__switch-content span,
.search-page header:not(.menu-active) .first-content__switch-content span {
    background-color: $dark-gray;
}

.cabinet header:not(.menu-active) .first-content__switch-content:hover span,
.search-page header:not(.menu-active) .first-content__switch-content:hover span {
    background-color: rgba(40, 42, 47, 0.6);
}

.cabinet header:not(.menu-active) .first-content__switch > a:hover,
.search-page header:not(.menu-active) .first-content__switch > a:hover {
    color: rgba(40, 42, 47, 0.6);
}







