@import "../abstract/variables";

.section-login-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s ease;
    overflow-y: auto;
}

.login-active .section-big-menu__close {
    top: 30px !important;
    right: 30px !important;
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.section-login-menu.login-active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.section-login-menu__close {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    stroke: $light-gray;
    transition: stroke 0.3s ease;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s ease;
}

.menu-active .section-login-menu__close {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.section-login-menu__close:hover {
    stroke: $gray;
}

.section-login-menu__wrap {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.section-login-menu__wrap, .section-login-menu__registration {
    min-height: 600px;
}



/* переключатель меню */

.section-login-menu__toggle-wrap {
    display: flex;
    align-items: center;

    display: none;
    width: 100%;
    max-width: 400px;
    margin: 20px 0 30px;
}

.section-login-menu__toggle-link {
    display: flex;
    padding: 15px 38px;
    margin: 0 16px 0 0;
    background: $white;
    box-shadow: 0px 2px 10px rgba(175, 175, 175, 0.3);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-gray;
}

.section-login-menu__toggle-link--active {
    color: $blue;
    background: $light-gray;
    box-shadow: 0px 2px 10px rgba(175, 175, 175, 0.3);
}

.section-login-menu__registration .section-login-menu__toggle-link {
    opacity: 0.7;
}

.section-login-menu__registration .section-login-menu__toggle-link--active {
    opacity: 1;
}



/* Меню авторизации */

.section-login-menu__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50%;
    padding: 0 25px;
}

.section-login-menu__center {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 355px;
}

.section-login-menu__login {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.login-in-no-visible,
.login-recovery-no-visible,
.section-login-menu__login--recovery,
.section-login-menu__login--new {
    display: none;
}

.login-recovery-visible,
.login-new-visible {
    display: flex;
}

.section-login-menu__title {
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-gray;
}

.section-login-menu__login--in .section-login-menu__title {
    margin: 0 0 30px;
}

.section-login-menu__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $dark-gray;
    margin: 0 0 30px;
}

.section-login-menu__login-input {
    display: flex;
    width: 100%;
    min-height: 54px;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 0 0 20px;
    padding: 15px 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: $dark-gray;
}

.section-login-menu__login--in .section-login-menu__login-input:last-of-type {
    margin: 0 0 10px;
}

.section-login-menu__login-input:last-of-type {
    margin: 0 0 30px;
}


.section-login-menu__login-links {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 30px;
}

.section-login-menu__login-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $blue;
    transition: opacity 0.3s ease;
}

.section-login-menu__login-link:hover {
    opacity: 0.7;
}



.section-login-menu__login-checkbox-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    cursor: pointer;
}

.section-login-menu__login-checkbox-wrap:hover .section-login-menu__login-fake-checkbox::after {
    animation-name: bubbleCheck;
    animation-fill-mode: forwards;
}
  
.section-login-menu__login-checkbox-wrap span {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.4;
    color: $dark-gray;
}
  
.section-login-menu__login-checkbox-wrap span a {
    color: $dark-gray;
    text-decoration: none;
}
  
.section-login-menu__login-checkbox-wrap span a:hover {
    border-bottom: 1px solid;
}


.section-login-menu__login-fake-checkbox {
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
    border: 1px solid $dark-gray;
    border-radius: 2px;
    transition-property: border-color background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    vertical-align: middle;
}
  
.section-login-menu__login-fake-checkbox::after {
    position: absolute;
    top: -1px;
    left: 0;
    width: 11px;
    height: 11px;
    background-image: url('../images/icon/check.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    content: '';
}


.section-login-menu__login-checkbox:focus, .section-login-menu__login-checkbox:active {
    width: 0;
    height: 0;
    display: none !important;
}

.section-login-menu__login-checkbox:hover {
    background-image: url('../images/icon/check.svg');
}

.section-login-menu__login-checkbox:checked + .section-login-menu__login-fake-checkbox {
    background: $blue;
    border-color: $blue;
}

.section-login-menu__login-checkbox:checked + .section-login-menu__login-fake-checkbox::after {
    animation-name: bubbleCheck;
    animation-fill-mode: forwards;
    background-image: url('../images/icon/check-white.svg');
}

@keyframes bubbleCheck {
    0% {
      visibility: visible;
    }
    65%{
      transform: scale(1.16);
    }
    75%{
      transform: scale(.89);
    }
    100%{
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
}


.section-login-menu__login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 15px 30px;
    background: $purple;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.section-login-menu__login-submit:hover {
    background-color: $gray;
}



.section-login-menu__registration {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50%;
    height: 100%;
    padding: 0 25px;
}

.section-login-menu__registration-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-login-menu__registration-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section-login-menu__registration-background::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: $grad-purlple-blue;
    opacity: 0.85;
    content: '';
}

.section-login-menu__registration-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 402px;
}

.section-login-menu__registration-title {
    margin: 0 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: $white;
}

.section-login-menu__registration-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.section-login-menu__registration-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 0 30px;
    margin: 0 0 20px;
}

.section-login-menu__registration-item::before {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 13px;
    height: 18px;
    background-image: url('/images/icon/registration-list-icon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
}

.section-login-menu__registration-item p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
}

.section-login-menu__registration-text {
    margin: 0 0 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
}

.section-login-menu__registration-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 55px;
    border: 1px solid $white;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: $white;
    transition: background-color 0.3s ease;
}

.section-login-menu__registration-link:hover {
    background-color: rgba(255,255,255,0.1);
}


















