@import "../abstract/variables";

.section-big-menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, $white  0%, $white  52.8%, $blue 52.8%, $blue 100%);
    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s ease;
}

.section-big-menu.menu-active {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.section-big-menu__close {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    stroke: $light-gray;
    transition: stroke 0.3s ease;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    z-index: -10;
    transition: opacity 0.3s ease;
}

.menu-active .section-big-menu__close {
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.section-big-menu__close:hover {
    stroke: $gray;
}

.section-big-menu__wrap {
    display: flex;
    width: 100%;
    overflow-y: auto;
}

.section-big-menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 52.8%;
    margin: 0;
    padding: 168px 54px 34px 94px;
    list-style: none;
}

.section-big-menu__item {
    display: flex;
    width: 100%;
    padding: 0 0 25px;
}

.section-big-menu__item:last-of-type {
    padding: 0 0 49px;
}

.section-big-menu__submenu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 60%;
    height: 100%;
    padding: 168px 94px 34px calc(10% + 99px);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    overflow-y: auto;
}

.section-big-menu__submenu-overflow {
    min-height: 70vh;
}


.section-big-menu__submenu-overflow > b {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 23px;
    color: $white;
}

.section-big-menu__item-sub-open {
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.15;
    color: $dark-gray;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border 0.3s ease;
    z-index: 2;
    cursor: pointer;
}


.section-big-menu__item--active .section-big-menu__submenu-wrap,
.section-big-menu__item:hover .section-big-menu__submenu-wrap {
    opacity: 1;
    pointer-events: auto;
    min-height: 120px;
}

.section-big-menu__item-sub-open:hover {
    color: $blue;
    border-bottom: 1px solid $blue;
}

.section-big-menu__submenu-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0 40px;
}

.section-big-menu__submenu-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    min-width: 187px;
    padding: 0 10px 0 0;
}

.section-big-menu__submenu-column a {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: $white;
    transition: opacity 0.3s ease;
}

.section-big-menu__submenu-column a:hover {
    opacity: 0.4;
}




/* Стили для работы страницы отрасли */

.main .section-big-menu {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    margin: -164px 0 0;
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

body:not(.home) .section-big-menu__list,
body:not(.home) .section-big-menu__submenu-wrap {
    padding-top: 198px;
}

.industries .main .section-big-menu__submenu-wrap {
    position: absolute;
    overflow-y: initial;
}






