.section-question-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    width: 100%;
    max-width: 530px;
    max-height: 90vh;
    padding: 50px 50px 20px;
    background: $light-gray;
    box-shadow: 0px 2px 15px rgba(175, 175, 175, 0.25);
    transform: translate(-50%, -50%);
    z-index: 110;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.section-question-pop-up.qustion-active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}



.section-question-pop-up__close {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
    stroke: $gray;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.section-question-pop-up__close:hover {
    opacity: 0.5;
}



.section-question-pop-up__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 450px;
}

.section-question-pop-up__title {
    display: block;
    width: 100%;
    margin: 0 0 30px;
    font-weight: 500;
    line-height: 1.5;
    color: $dark-gray;
    text-align: center;
}

.section-question-pop-up__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 30px;
}

.section-question-pop-up__form-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 54px;
    margin: 0 0 20px;
    padding: 13px 20px;
    background: $white;
    border-radius: 2px;
    border: none;
    font-weight: normal;
    line-height: 1.2;
    color: $gray;
}



.section-question-pop-up__form-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 30px;
}


.section-login-menu__login-checkbox-wrap--question {
    margin: 0 auto;
}