extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'buy'
block content    
  main.main.page-buy
    h1.visually-hidden Выбор тарифа Bi Consulting
    section.section-main__buy
        .section-main__buy-wrap
            h2.section-main__buy-title Выберите тариф
            .section-main__buy-content
                .section-main__buy-form
                    .section-main__buy-fish
                
                .section-main__buy-comment
                    .section-main__buy-info
                        .section-main__buy-background
                            img(src="/images/buy-background.png", alt="фон")
                        ul.section-main__buy-list
                            li.section-main__buy-item
                                b Отчеты и аналитика
                                p Анализ рынка, ключевых игроков, трендов и перспектив. 

                            li.section-main__buy-item
                                b Определение ключевых показателей
                                p Продажи, производство, расходы, потребление и другие данные в выбранной отрасли.

                    .section-main__buy-question
                        b Остались вопросы? 
                        b Просто напишите нам.
                        a(href="#").section-main__buy-question-link.js-section-main__buy-question-link Задать вопрос
