extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'cabinet'
block content    
  main.main.page-cabinet
    h1.visually-hidden Личный кабинет Bi Consulting
    section.section-main__cabinet
        .section-main__cabinet-wrap.section-main__cabinet-wrap--edit
            .section-main__cabinet-title 
                h2 Личный кабинет

            .section-main__cabinet-content
                form(action="1").section-main__cabinet-content-form
                    ul.section-main__cabinet-list
                        li.section-main__cabinet-item.section-main__cabinet-item--mini
                            label(for="cabinet-fio") Имя и Фамилия
                            input(type="text", name="cabinet-fio", placeholder="Дмитрий Иванов")
                            
                            label(for="cabinet-email") Email
                            input(type="email", name="cabinet-email", placeholder="irvin@gmail.com")

                            label(for="cabinet-password") Текущий пароль
                            input(type="password", name="cabinet-password")

                            label(for="cabinet-password-new") Новый пароль
                            input(type="password", name="cabinet-password-new")

                            label(for="cabinet-password-new-two") Подтвердите новый пароль
                            input(type="password", name="cabinet-password-new-two")
                            
                            .section-login-menu__login-links
                                label.section-login-menu__login-checkbox-wrap.section-login-menu__login-checkbox-wrap--cabinet
                                    input(type="checkbox", name="cabinet-subscription").visually-hidden.section-login-menu__login-checkbox
                                    span.section-login-menu__login-fake-checkbox
                                    span Автопродление подписки

                        li.section-main__cabinet-item
                            b.section-main__cabinet-title-name Персональные данные
                            .section-main__cabinet-item-content.section-main__cabinet-item-content--edit
                                label(for="cabinet-it-services") Индустрия компании:
                                input(type="text", name="cabinet-it-services", placeholder="IT услуги")

                                label(for="cabinet-company") Компания:
                                input(type="text", name="cabinet-company", placeholder="BI Consalting LTD")

                                label(for="cabinet-size-company") Размер компании:
                                input(type="text", name="cabinet-size-company", placeholder="11-50")


                        li.section-main__cabinet-item
                            b.section-main__cabinet-title-name Платежный адрес
                            .section-main__cabinet-item-content.section-main__cabinet-item-content--edit
                                label(for="cabinet-index") Почтовый индекс:
                                input(type="text", name="cabinet-index", placeholder="664585")

                                label(for="cabinet-city") Город:
                                input(type="text", name="cabinet-city", placeholder="Омск")

                                label(for="cabinet-size-company") Телефон:
                                input(type="tel", name="cabinet-size-company", placeholder="+ 7 999 999 99 99")

                    .section-main__cabinet-submit
                        button(type="submit") Сохранить изменения
                        a(href="#") Отменить





