extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'cabinet'
block content    
  main.main.page-cabinet
    h1.visually-hidden Личный кабинет Bi Consulting
    section.section-main__cabinet
        .section-main__cabinet-wrap
            .section-main__cabinet-title 
                h2 Личный кабинет
                a(href="/cabinet-edit.html") 
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1904 0.666667L8.70889 2.14815H1.48148V12.5185H11.8519V5.29111L13.3333 3.80963V13.2593C13.3333 13.4557 13.2553 13.6441 13.1164 13.783C12.9775 13.922 12.789 14 12.5926 14H0.740741C0.544284 14 0.355874 13.922 0.216958 13.783C0.0780421 13.6441 0 13.4557 0 13.2593V1.40741C0 1.21095 0.0780421 1.02254 0.216958 0.883625C0.355874 0.744709 0.544284 0.666667 0.740741 0.666667H10.1904V0.666667ZM12.9519 0L14 1.04889L7.19111 7.85778L6.14519 7.86L6.1437 6.81037L12.9519 0V0Z" fill=""/>
                    </svg>
                    p Редактировать

            .section-main__cabinet-content
                ul.section-main__cabinet-list
                    li.section-main__cabinet-item.section-main__cabinet-item--mini
                        b.section-main__cabinet-name Дмитрий Иванов
                        b.section-main__cabinet-tarif Ваш тариф: Базовый
                        p.section-main__cabinet-time Оплачен до: <span>11.01.20121</span>
                        p.section-main__cabinet-info Автопродление выключено
                        a(href="#").section-main__cabinet-payment.section-main__cabinet-payment--no-pointer Оплатить
                        p.section-main__cabinet-email Email: kfujd@gmail.com
                        p.section-main__cabinet-password Пароль: *******

                    li.section-main__cabinet-item
                        b.section-main__cabinet-title-name Персональные данные
                        .section-main__cabinet-item-content
                            b Индустрия компании: <span>IT услуги</span> 
                            b Компания: <span>BI Consalting LTD</span> 
                            b Размер компании: <span>11–50</span> 

                    li.section-main__cabinet-item
                        b.section-main__cabinet-title-name Платежный адрес
                        .section-main__cabinet-item-content
                            b Почтовый индекс: <span>664585</span> 
                            b Город: <span>Омск</span> 
                            b Телефон: <span>+ 7 999 999 99 99</span> 

            .section-main__cabinet-texts
                ul.section-main__cabinet-texts-list
                    li.section-main__cabinet-texts-item.section-main__cabinet-texts-item--big
                        b Оповещения
                        p Вы можете контролировать частоту оповещений по электронной почте.
                        p В настоящее время вы получаете свои оповещения на следующий адрес электронной почты:  
                            |kfujd@gmail.com. Обновить адрес можно в личной информации.

                    li.section-main__cabinet-texts-item.section-main__cabinet-texts-item--middle
                        p.section-main__cabinet-texts-item-title Тема подписки
                        p Частота : еженедельно
                        p Тип отчета : общедоступный
                        p Создано : 07 Декабрь 2020

                    li.section-main__cabinet-texts-item.section-main__cabinet-texts-item--small
                        a(href="#") Отменить подписку






