extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'home'
block content    
  main.main.page-home
    h1.visually-hidden Bi Consulting
    section.section-main__header
      .section-main__header-container
        .section-main__header-pseudo.section-main__header-pseudo--mobile
          .section-main__header-pseudo-center
            .section-main__header-pseudo-one-line
            .section-main__header-pseudo-two-line
            .section-main__header-pseudo-three-figure
          .section-main__header-pseudo-one-circle
          .section-main__header-pseudo-one-figure
          .section-main__header-pseudo-two-figure
        .section-main__header-item.section-main__header-item--text
          h2.section-main__header-title Вся важная аналитика в одном месте!
          p.section-main__header-text Найдите необходимую информацию для вашего бизнеса всего в 
            |несколько кликов
          form(action="").section-main__header-search-form
            input(type="text", name="search-main", placeholder="Введите поисковый запрос")
            //- button(type="submit")
            //-   <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            //-     <path d="M20 18.954L14.4133 13.3673C15.7558 11.7556 16.4253 9.68835 16.2825 7.59562C16.1396 5.50288 15.1954 3.54579 13.6464 2.13146C12.0973 0.717125 10.0626 -0.0455437 7.96554 0.00210549C5.86847 0.0497547 3.87051 0.904053 2.38728 2.38728C0.904053 3.87051 0.0497547 5.86847 0.00210549 7.96554C-0.0455437 10.0626 0.717125 12.0973 2.13146 13.6464C3.54579 15.1954 5.50288 16.1396 7.59562 16.2825C9.68835 16.4253 11.7556 15.7558 13.3673 14.4133L18.954 20L20 18.954ZM1.50598 8.16382C1.50598 6.84703 1.89645 5.5598 2.62803 4.46492C3.3596 3.37004 4.39941 2.51669 5.61598 2.01277C6.83254 1.50886 8.17121 1.37701 9.46271 1.6339C10.7542 1.8908 11.9405 2.5249 12.8716 3.45601C13.8028 4.38713 14.4369 5.57345 14.6937 6.86494C14.9506 8.15644 14.8188 9.49511 14.3149 10.7117C13.811 11.9282 12.9576 12.9681 11.8627 13.6996C10.7678 14.4312 9.48062 14.8217 8.16382 14.8217C6.39865 14.8197 4.70634 14.1176 3.45818 12.8695C2.21001 11.6213 1.50793 9.92899 1.50598 8.16382Z"/>
            //-   </svg>
            a(href="/searсh-page.html")
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M20 18.954L14.4133 13.3673C15.7558 11.7556 16.4253 9.68835 16.2825 7.59562C16.1396 5.50288 15.1954 3.54579 13.6464 2.13146C12.0973 0.717125 10.0626 -0.0455437 7.96554 0.00210549C5.86847 0.0497547 3.87051 0.904053 2.38728 2.38728C0.904053 3.87051 0.0497547 5.86847 0.00210549 7.96554C-0.0455437 10.0626 0.717125 12.0973 2.13146 13.6464C3.54579 15.1954 5.50288 16.1396 7.59562 16.2825C9.68835 16.4253 11.7556 15.7558 13.3673 14.4133L18.954 20L20 18.954ZM1.50598 8.16382C1.50598 6.84703 1.89645 5.5598 2.62803 4.46492C3.3596 3.37004 4.39941 2.51669 5.61598 2.01277C6.83254 1.50886 8.17121 1.37701 9.46271 1.6339C10.7542 1.8908 11.9405 2.5249 12.8716 3.45601C13.8028 4.38713 14.4369 5.57345 14.6937 6.86494C14.9506 8.15644 14.8188 9.49511 14.3149 10.7117C13.811 11.9282 12.9576 12.9681 11.8627 13.6996C10.7678 14.4312 9.48062 14.8217 8.16382 14.8217C6.39865 14.8197 4.70634 14.1176 3.45818 12.8695C2.21001 11.6213 1.50793 9.92899 1.50598 8.16382Z"/>
              </svg>

        .section-main__header-item.section-main__header-item--background
          .section-main__header-background-image
            img(src="/images/main-building.png", alt="фон")
          .section-main__header-pseudo
            .section-main__header-pseudo-center
              .section-main__header-pseudo-one-line
              .section-main__header-pseudo-two-line
              .section-main__header-pseudo-three-figure
            .section-main__header-pseudo-one-circle
            .section-main__header-pseudo-one-figure
            .section-main__header-pseudo-two-figure

    section.section-main__about
      .section-main__about-container
        .section-main__about-info
          h2.section-main__about-info-title Что такое Bi-consulting?
          p.section-main__about-info-text Мы извлекаем информацию об отрасли или компании в целом благодаря 
            |искусственному интеллекту из миллионов отчетов и первоисточников, чтобы вы могли получить 
            |только необходимые данные. 
          p.section-main__about-info-text Мы помогаем компаниям и руководителям принимать более быстрые, 
            |обоснованные и эффективные решения и выводить бизнес на новый уровень.

        .section-main__about-links
          h2.section-main__about-links-title Мы основываемся на четырех простых принципах:
          ul.section-main__about-links-list
            li.section-main__about-links-item
              p Легкий доступ к аналитике и отчетам
            li.section-main__about-links-item
              p Надежная и проверенная информация из разных сфер
            li.section-main__about-links-item
              p Ориентация на самые новейшие технологии
            li.section-main__about-links-item
              p Конкурентоспособные качества

    section.section-main__specification
      .section-main__specification-container
        .section-main__specification-pros
          .section-main__specification-pros-background
            img(src="/images/main-building-two.png", alt="Здание")
          .section-main__specification-pros-text
            p Используя сервис от Bi-consulting вы сохраняете 
              |свое время, повышаете свою эффективность и производительность.

        .section-main__specification-why
          h2.section-main__specification-why-title Зачем использовать сервис от Bi-consulting?
          p.section-main__specification-why-text Наш сервис — это более усовершенствованный поиск 
            |необходимой информации. Благодаря искусственному интеллекту вы получаете то, что 
            |действительно актуально для вас и бизнеса. Наш сервис исключает нерелевантные 
            |результаты поиска и значительно экономит время.

          a(href="/buy.html").section-main__specification-why-link 
            p Подписаться
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
              <circle cx="9" cy="9" r="8.5"/>
              <circle cx="9.00005" cy="6.29998" r="2.2"/>
              <path d="M14.4 15.3V15.3C14.4 12.8147 12.3853 10.8 9.89997 10.8H8.09998C5.61469 10.8 3.59998 12.8147 3.59998 15.3V15.3"/>
            </svg>

    section.section-main__statistics
      .section-main__statistics-container
        .section-main__statistics-data
          p.section-main__statistics-data-text <span>3+</span> миллиона доступных
          p.section-main__statistics-data-text для поиска отчетов, таблиц и схем
          .section-main__statistics-data-infographics
            ul.section-main__statistics-data-scale.section-main__scale
              li.section-main__scale-item
                .section-main__scale-content 
                  .section-main__scale-content-background
                  .section-main__scale-content-background.section-main__scale-content-background--active(style="height: 5%;")
                  .section-main__scale-content-background.section-main__scale-content-background--fish
                  .section-main__scale-content-image
                    img(src="/images/scale.png", alt="Шкала")
                .section-main__scale-percent 5%

              li.section-main__scale-item
                .section-main__scale-content 
                  .section-main__scale-content-background
                  .section-main__scale-content-background.section-main__scale-content-background--active(style="height: 5%;")
                  .section-main__scale-content-background.section-main__scale-content-background--fish
                  .section-main__scale-content-image
                    img(src="/images/scale.png", alt="Шкала")
                .section-main__scale-percent 5%

              li.section-main__scale-item
                .section-main__scale-content 
                  .section-main__scale-content-background
                  .section-main__scale-content-background.section-main__scale-content-background--active(style="height: 70%;")
                  .section-main__scale-content-background.section-main__scale-content-background--fish
                  .section-main__scale-content-image
                    img(src="/images/scale.png", alt="Шкала")
                .section-main__scale-percent 70%

              li.section-main__scale-item
                .section-main__scale-content 
                  .section-main__scale-content-background
                  .section-main__scale-content-background.section-main__scale-content-background--active(style="height: 45%;")
                  .section-main__scale-content-background.section-main__scale-content-background--fish
                  .section-main__scale-content-image
                    img(src="/images/scale.png", alt="Шкала")
                .section-main__scale-percent 45%
            .section-main__statistics-data-graphics.section-main__graphics
              img(src="/images/schedule.png", alt="График")
              span.section-main__graphics-dot-one
              span.section-main__graphics-dot-two

          p.section-main__statistics-data-info Отчеты с выводами ведущих аналитиков-исследователей 
            |со всего мира помогут вам получить всю необходимую информацию и вывести бизнес на 
            |новый уровень.


        .section-main__statistics-industries
          p.section-main__statistics-industries-text <span>1000+</span> отраслей,
          p.section-main__statistics-industries-text  охваченных в исследованиях
          .section-main__statistics-industries-list-wrap
            ul.section-main__statistics-industries-list
              li.section-main__statistics-industries-item
                a(href="/industries.html") Сфера услуг 
              li.section-main__statistics-industries-item
                a(href="/industries.html") ИТ и СМИ
              li.section-main__statistics-industries-item
                a(href="/industries.html") Потребительские товары
              li.section-main__statistics-industries-item
                a(href="/industries.html")  Фармацевтика и медицина
          a(href="/industries.html").section-main__statistics-industries-link Показать еще

          

    section.section-main__advantages
      .section-main__advantages-container
        .section-main__advantages-access
          p.section-main__advantages-access-text В чем преимущества расширенного доступа к сервису Bi-consulting?

          p.section-main__advantages-access-info Платный доступ к нашему сервису помогает быстро оценить 
            |данные, доступные по вашему запросу. 

        .section-main__advantages-result
          p.section-main__advantages-result-text Что вы получаете?
          ul.section-main__advantages-result-list
            li.section-main__advantages-result-item 
              .section-main__advantages-result-icon
                <svg width="13" height="19" viewBox="0 0 13 19" fill="none">
                  <path d="M2.95459 10.7915H7.68186V11.9165H2.95459V10.7915Z" fill="#0081D8"/>
                  <path d="M2.95459 7.4165H10.0455V8.5415H2.95459V7.4165Z" fill="#0081D8"/>
                  <path d="M2.95459 14.1665H5.90914V15.2915H2.95459V14.1665Z" fill="#0081D8"/>
                  <path d="M11.8182 2.9165H10.0455V1.95222C10.0455 1.61123 9.92094 1.2842 9.69931 1.04308C9.47767 0.801963 9.17707 0.666504 8.86364 0.666504H4.13636C3.82293 0.666504 3.52233 0.801963 3.30069 1.04308C3.07906 1.2842 2.95455 1.61123 2.95455 1.95222V2.9165H1.18182C0.868381 2.9165 0.56778 3.05196 0.346146 3.29308C0.124513 3.5342 0 3.86123 0 4.20222V17.3808C0 17.7218 0.124513 18.0488 0.346146 18.2899C0.56778 18.531 0.868381 18.6665 1.18182 18.6665H11.8182C12.1316 18.6665 12.4322 18.531 12.6539 18.2899C12.8755 18.0488 13 17.7218 13 17.3808V4.20222C13 3.86123 12.8755 3.5342 12.6539 3.29308C12.4322 3.05196 12.1316 2.9165 11.8182 2.9165ZM4.13636 1.7915H8.86364V4.0415H4.13636V1.7915ZM11.9167 17.3808H1.03409V4.0415H2.95455V5.1665H6.5H10.0455V4.0415H11.9167V17.3808Z" fill="#0081D8"/>
                </svg>

              p Подробные исследования по ключевым показателям вашей отрасли. 

            li.section-main__advantages-result-item 
              .section-main__advantages-result-icon
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17317C0.00433281 8.00043 -0.193701 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8079C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 7.34784 18.9464 4.8043 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM10 18.75C8.26942 18.75 6.57769 18.2368 5.13876 17.2754C3.69983 16.3139 2.57833 14.9473 1.91606 13.3485C1.25379 11.7496 1.08051 9.99029 1.41813 8.29296C1.75575 6.59563 2.58911 5.03652 3.81282 3.81282C5.03653 2.58911 6.59563 1.75575 8.29296 1.41813C9.9903 1.08051 11.7496 1.25379 13.3485 1.91605C14.9473 2.57832 16.3139 3.69983 17.2754 5.13876C18.2368 6.57769 18.75 8.26941 18.75 10C18.75 12.3206 17.8281 14.5462 16.1872 16.1872C14.5462 17.8281 12.3206 18.75 10 18.75Z" fill="#0081D8"/>
                  <path d="M10.1813 4.32485C9.50397 4.31365 8.83254 4.45177 8.21466 4.72938C7.59679 5.00699 7.04764 5.41728 6.60625 5.9311C6.54493 5.98793 6.49563 6.05648 6.46128 6.1327C6.42692 6.20893 6.40821 6.29127 6.40625 6.37485C6.40621 6.45196 6.42168 6.5283 6.45174 6.59931C6.4818 6.67032 6.52584 6.73456 6.58124 6.78821C6.63663 6.84186 6.70225 6.88381 6.77419 6.91158C6.84614 6.93935 6.92293 6.95236 7 6.94985C7.16511 6.94576 7.32299 6.88127 7.44375 6.7686C7.77779 6.37715 8.19267 6.06271 8.65985 5.84693C9.12702 5.63114 9.6354 5.51913 10.15 5.5186C11.625 5.5186 12.5437 6.4686 12.5437 7.64985V7.6811C12.5437 9.06235 11.4438 9.8311 9.70625 9.96235C9.6359 9.96507 9.56691 9.98261 9.5038 10.0138C9.4407 10.0451 9.3849 10.0893 9.34005 10.1435C9.29521 10.1978 9.26234 10.261 9.24359 10.3288C9.22484 10.3967 9.22064 10.4677 9.23125 10.5373V12.2561C9.2468 12.4108 9.31945 12.5542 9.43501 12.6582C9.55058 12.7622 9.70077 12.8194 9.85625 12.8186H9.925C10.0797 12.8031 10.2231 12.7304 10.3271 12.6148C10.4311 12.4993 10.4883 12.3491 10.4875 12.1936V10.9061C12.3625 10.6436 13.8812 9.6561 13.8812 7.6061V7.57485C13.8625 5.69985 12.4 4.32485 10.1813 4.32485Z" fill="#0081D8"/>
                  <path d="M9.86255 15.9061C10.294 15.9061 10.6438 15.5564 10.6438 15.1249C10.6438 14.6934 10.294 14.3436 9.86255 14.3436C9.43108 14.3436 9.0813 14.6934 9.0813 15.1249C9.0813 15.5564 9.43108 15.9061 9.86255 15.9061Z" fill="#0081D8"/>
                </svg>

              p Помощь от наших консультантов в поиске и расшифровке данных отчетов и аналитики. 

            li.section-main__advantages-result-item 
              .section-main__advantages-result-icon
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M11.7109 0.583401C13.0514 0.830201 14.2758 1.33905 15.3891 2.11024C16.6575 2.98881 17.6589 4.1164 18.3968 5.49907C19.132 6.8769 19.5 8.36159 19.5 9.96094C19.5 11.9509 18.9398 13.7492 17.8136 15.3682L14.8791 12.4337C15.2788 11.6605 15.4805 10.8343 15.4805 9.96094C15.4805 8.6911 15.0886 7.55294 14.3084 6.56509C13.6143 5.68631 12.7455 5.07015 11.7109 4.72491V0.583401ZM6.06246 6.06246C5.44926 6.67567 5.00781 7.38694 4.74234 8.19141H0.582842C0.932802 6.27669 1.80795 4.62182 3.21488 3.21488C4.62182 1.80795 6.27669 0.932802 8.19141 0.582842V4.72764C7.38707 5.00289 6.67587 5.44905 6.06246 6.06246ZM0.583401 11.7109H4.72491C5.07015 12.7455 5.68631 13.6143 6.56509 14.3084C7.55294 15.0886 8.6911 15.4805 9.96094 15.4805C10.8343 15.4805 11.6605 15.2788 12.4337 14.8791L15.3682 17.8136C13.7492 18.9398 11.9509 19.5 9.96094 19.5C8.36159 19.5 6.8769 19.132 5.49907 18.3968C4.1164 17.6589 2.98881 16.6575 2.11024 15.3891C1.33905 14.2758 0.830201 13.0514 0.583401 11.7109Z" stroke="#0081D8"/>
                </svg>

              p Доступ к большему количеству отраслевых отчетов и аналитике, трендов, прогнозов и оценок.

    section.section-main__utility
      .section-main__utility-container
        .section-main__utility-background
        h2.section-main__utility-title Для кого полезен сервис Bi-consulting?
        .section-main__utility-list-wrap
          ul.section-main__utility-list
            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-1.svg", alt="icon")

                b.section-main__utility-header-text Владельцы малого бизнеса
              
              p.section-main__utility-text Узнайте, как можно масштабироваться и увеличить прибыль.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-2.svg", alt="icon")

                b.section-main__utility-header-text Маркетологи компаний и агентств

              p.section-main__utility-text Отслеживайте тренды рынка, чтобы выстраивать правильные стратегии продвижения.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-3.svg", alt="icon")

                b.section-main__utility-header-text Руководители высшего звена

              p.section-main__utility-text Принимайте решения быстрее и эффективнее, чтобы вывести компанию на новый уровень.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-4.svg", alt="icon") 

                b.section-main__utility-header-text Служащие государственных учреждений

              p.section-main__utility-text Совершенствуйте систему, используя опыт активных предпринимателей.
              
            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-5.svg", alt="icon")

                b.section-main__utility-header-text Бизнес-аналитики
              
              p.section-main__utility-text Выявляйте слабые и сильные стороны бизнеса, благодаря аналитике со всего мира.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-6.svg", alt="icon")

                b.section-main__utility-header-text Крупные предприниматели

              p.section-main__utility-text Перенимайте успешный опыт корпораций, благодаря собранной аналитике.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-7.svg", alt="icon")

                b.section-main__utility-header-text Стартаперы

              p.section-main__utility-text Перенимайте опыт успешных предпринимателей из других стран.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-8.svg", alt="icon")

                b.section-main__utility-header-text Рыночные аналитики

              p.section-main__utility-text Ускоряйте свою работу и тратьте на анализ тенденции гораздо меньше времени.

            li.section-main__utility-item
              .section-main__utility-header
                .section-main__utility-icon
                  img(src="/images/icon/utility-9.svg", alt="icon")

                b.section-main__utility-header-text Руководители проектов

              p.section-main__utility-text Ускоряйте поиск нужной информации, чтобы успешно решать глобальные задачи.


    section.section-main__who-we
      .section-main__who-we-container
        .section-main__who-we-content
          b.section-main__who-we-title Кто мы?
          p.section-main__who-we-text Bi-consulting — это команда маркетологов, аналитиков и 
            |программистов. Мы помогаем любому бизнесу с аналитикой больших данных, которые 
            |ускорят принятие важных и значимых решений. 
          .section-main__who-we-button-wrap
            p.section-main__who-we-button-text Остались вопросы?
            a(href="#").js-section-main__buy-question-link Задать вопрос
        .section-main__who-we-images
          img(src="/images/working-process.png", alt="")




