extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'industries'
block content    
  main.main.page-industries
    h1.visually-hidden Отрасли Bi Consulting
    
    include ../layout/menu