extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'search-page'
block content    
  main.main.page-search
    h1.visually-hidden Результаты поиска Bi Consulting
    section.section-main__search
        .section-main__search-wrap
            form(action="1").section-main__search-input-wrap
                input(type="search", name="search-page", placeholder="Введите поисковый запрос", required)
                button(type="submit") 
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18.954L14.4133 13.3673C15.7558 11.7556 16.4253 9.68835 16.2825 7.59562C16.1396 5.50288 15.1954 3.54579 13.6464 2.13146C12.0973 0.717125 10.0626 -0.0455437 7.96554 0.00210549C5.86847 0.0497547 3.87051 0.904053 2.38728 2.38728C0.904053 3.87051 0.0497547 5.86847 0.00210549 7.96554C-0.0455437 10.0626 0.717125 12.0973 2.13146 13.6464C3.54579 15.1954 5.50288 16.1396 7.59562 16.2825C9.68835 16.4253 11.7556 15.7558 13.3673 14.4133L18.954 20L20 18.954ZM1.50598 8.16382C1.50598 6.84703 1.89645 5.5598 2.62803 4.46492C3.3596 3.37004 4.39941 2.51669 5.61598 2.01277C6.83254 1.50886 8.17121 1.37701 9.46271 1.6339C10.7542 1.8908 11.9405 2.5249 12.8716 3.45601C13.8028 4.38713 14.4369 5.57345 14.6937 6.86494C14.9506 8.15644 14.8188 9.49511 14.3149 10.7117C13.811 11.9282 12.9576 12.9681 11.8627 13.6996C10.7678 14.4312 9.48062 14.8217 8.16382 14.8217C6.39865 14.8197 4.70634 14.1176 3.45818 12.8695C2.21001 11.6213 1.50793 9.92899 1.50598 8.16382Z"/>
                    </svg>

            .section-main__search-title 
                h2 Результатов поиска по запросу “медицина”: 244

            .section-main__search-result-wrap
                ul.section-main__search-result
                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

                    li.section-main__search-item
                        b.section-main__search-item-title Российская медицинская индустрия 2020-2024
                        p.section-main__search-text Вариант функционала: при выборе подотросли формируется google 
                            |запрос по данной тематике и выводится на отдельную страницу по заданному шаблону. 
                            |Результаты поиска
                        a(href="#").section-main__search-link 
                            p Читать
                            <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                                <path d="M1 13L7 7L1 1"/>
                            </svg>

            .section-main__search-page-number
                a(href="#") 1
                a(href="#").search-link-active 2
                a(href="#") 3
                p ...
                a(href="#") 67
                a(href="#")
                    <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
                        <path d="M1 13L7 7L1 1"/>
                    </svg>

