meta(content="" name="author")
meta(content="" name="description")
meta(content="" name="keywords")
meta(content="width=device-width, initial-scale=1" name="viewport")
meta(content="ie=edge" http-equiv="x-ua-compatible")

//- favicon block start
link(rel="shortcut icon" type="image/x-icon" href="./favicon.ico")
link(rel="icon" type="image/png" href="./favicon.png")

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


//- favicon block end

if block
  block headScripts


link(rel='stylesheet' href='css/vendor.css')
link(rel='stylesheet' href='css/commons.css')
link(rel='stylesheet' href='css/media.css')

if block
  block style


<!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->